[2022-04-06 17:48] mwganson commented on #988
new version: 0.2022.04.06

Please test and report back.  You will need to restart FreeCAD after updating.

[2022-04-06 17:51] jean-raphael opened #1188 "Plugin Modern UI crash"
a this point this is a little detail compared to the huge improvements that this version add to freecad

but Modern Ui does not work on this , for example if i choose modern ui tabs , then settings, if i try to move workbench freecad crash

and just fto know , why fork freecad and not work for freecad directly ?

[2022-04-06 20:07] Neubo opened #1189 "Illegal Storage access and crash"
Hello,

In this post, I will speak about "**_new version_**" :
OS: Windows 10 Version 2009
Word size of FreeCAD: 64-bit
Version: 2022.406.26244 +4692 (Git)
Build type: Release
Branch: LinkDaily
Hash: 0c8e437ef38cdc5dd087529ce6825c6a2a130868
Python version: 3.8.6+
Qt version: 5.15.2
Coin version: 4.0.1
OCC version: 7.6.0
Locale: French/France (fr_FR)

and "**_old version_**" :
OS: Windows 10 Versio

[2022-04-07 01:31] hamza00789 commented on #988
it still doesn't work. The error message is something like this.

[Mp4.zip](https://github.com/realthunder/FreeCAD_assembly3/files/8438930/Mp4.zip)

[New Text Document.txt](https://github.com/realthunder/FreeCAD_assembly3/files/8438935/New.Text.Document.txt)

[2022-04-07 02:12] mwganson commented on #988
new version 0.2022.04.06b

[2022-04-07 02:45] Miksu80 opened #1190 "22.04.02 version crashing on many files 22.01.18 opened fine"
The 22.04.02 daily WIN64 crashes without any info on opening files. Find the failing parts here:
[Failing_parts.zip](https://github.com/realthunder/FreeCAD_assembly3/files/8439116/Failing_parts.zip)

The stable version 22.04.02 file was corrupted 6.4.2022 and couldn't test these on that version..

OS: Windows 10 Version 2009
Word size of FreeCAD: 64-bit
Version: 2022.402.26244 +4679 (Git)
Build ty

[2022-04-07 02:56] #1185 closed

[2022-04-07 03:22] realthunder commented on #1186
This is done through solid grouping. It is useful in case you have multiple solids in a body. This allows you to group features (i.e. histories) of a solid. Right click a feature (usually the last feature of a solid), and select `Group solid features` action. And there is also the `Ungroup` action.

[2022-04-07 04:02] hamza00789 commented on #988
Is working fine now.

[2022-04-07 04:02] #988 closed

[2022-04-07 04:16] realthunder commented on #1190
I can't reproduce the problem. Can you find `crash.dmp` file in your user directory (most likely `c:\Users\<username>\AppData\Roaming\FreeCAD`, and posted it here? Also, can you please show me your STEP import settings? Here is mine,

![Screenshot 2022-04-07 121119](https://user-images.githubusercontent.com/1207888/162118879-7854730a-32a0-4136-a2ca-c00025258496.png)

[2022-04-07 04:20] realthunder commented on #1189
I can't reproduce the problem. Can you find `crash.dmp` file in your user directory (most likely `c:\Users\<username>\AppData\Roaming\FreeCAD`, and posted it here?

[2022-04-07 05:35] Miksu80 commented on #1190
Here you go:
[crash.zip](https://github.com/realthunder/FreeCAD_assembly3/files/8439922/crash.zip)

[2022-04-07 07:24] Kuzma30 opened #1192 "Problem with <<Create "{}">>"
In translated version messages with <<Create "{}">> pattern show without last <<">>. Is it translating problem?

[2022-04-07 08:11] bambukouk commented on #1186
Yes, I have been trying `right click on feature` long before I posted here 🙂
and I have never seen any `group/ungroup` option....
Tried again after your reply (thank you very much 👍 ) and once briefly seen this option, but can repeat it again 🤢
I will keep trying to see what I am (possibly) doing wrong

[2022-04-07 08:49] Neubo commented on #1189
Sure, here it is.
[crash.zip](https://github.com/realthunder/FreeCAD_assembly3/files/8441182/crash.zip)

I will try this evening to test the behaviour on another computer. Will let you know.

[2022-04-07 10:10] bambukouk commented on #1189
Opens fine on my machine.
maybe Windows problem??

[code]
![import](https://user-images.githubusercontent.com/50301871/162176077-ba73693b-a2e1-4108-951c-95e88c5a0433.png)

[2022-04-07 12:49] #1170 closed

[2022-04-07 14:28] luzpaz commented on #1177
Can't reproduce on
[code]

[2022-04-07 15:12] bambukouk commented on #1186
I would be extremely grateful if someone could try opening the file attached in the first message and confirm (or dismiss) solid features grouping appearing in the right click menu of the grouped `Pocket054`
I really want to know if there is a problem with this file or is it me going round the bend...

[2022-04-07 15:35] luzpaz commented on #1192
Screenshot? About info?
Link to the translation string?

[2022-04-07 15:43] luzpaz commented on #1188
ModernUI is a separate effort than Link branch, it was coded and then 'abandoned' by @hakanseven12. There is a forum thread dedicated to it where you can read more about it.

realthunder created this branch as a proof of concept for several different endeavors. He codes at a breakneck speed and was limited by the slower pace of the upstream FreeCAD master. realthunder is not responsible to make ev

[2022-04-07 15:44] luzpaz commented on #1188
Closing this ticket. Please re-open if relevant info is presented

[2022-04-07 15:44] #1188 closed

[2022-04-07 16:49] davesrocketshop opened #1193 "Solver using incorrect plane face for attachment and plane alignment"
The CAD problem I'm trying to solve is a nut fitting in an appropriate socket. In this case an M8 nut in a 3D printed part. I'm having some odd issues when attempting to apply constraints, particularly when it works on one side, close to the origin plane, but not on the other side away from the plane. The part on the opposite side is a mirrored part which may or may not be relevant.

First step is

[2022-04-07 16:51] davesrocketshop commented on #1193
Also, I tried attaching the base of the nut to the bottom of the socket and it again inverted the nut embedding it inside the part.

[2022-04-07 17:12] Kuzma30 commented on #1192
OS: Ubuntu Jammy Jellyfish (development branch) (ubuntu:GNOME/ubuntu)
Word size of FreeCAD: 64-bit
Version: 0.20.30937 (Git)
Build type: Release
Branch: LinkDaily
Hash: 9610830a8fd492b3b3d96f8328507c80f1437cda
Python version: 3.10.4
Qt version: 5.15.3
Coin version: 4.0.0
OCC version: 7.7.0.dev
Locale: Ukrainian/Ukraine (uk_UA)

![Знімок екрана з 2022-04-07 20-08-54](https://user-images.githubuserc

[2022-04-07 18:56] luzpaz commented on #1192
Can you link to the translation string in the source?

[2022-04-07 19:27] jpg87Fr commented on #1193
After constraining AxialAlignment, I would recommend Same Orientation rather than Plane Alignment to not overconstrain your assembly. As for the Attachment constraint, it is common to have to use the "Flip Element" or "Flip Part" contextual property.
See this page for more details :
http://help-freecad-jpg87.fr/020_ass_outils_contr.php#

[2022-04-07 19:41] davesrocketshop commented on #1193
Thanks! Still learning this (obviously)

[2022-04-07 19:41] #1193 closed

[2022-04-07 19:45] Kuzma30 commented on #1192
https://github.com/realthunder/FreeCAD_assembly3/blob/1d05e13540ac4cdedf3a382a6189bbf460150c3b/freecad/asm3/constraint.py#L917

[2022-04-07 21:03] luzpaz commented on #1183
`<class 'OSError'>: [WinError 87] ParamÃ¨tre incorrect: 'C:\\Users\\dguiraud\\Prog_Portable\\FreeCAD-asm3-Daily-Win-Conda-Py3.9-20220405-x86_64\\bin'`
weird unicode thing there

[2022-04-08 01:03] #1192 closed

[2022-04-08 01:23] realthunder commented on #1189
The `Cannot compute Inventor representation` error is due to another issue of not saving the shape properly with 01.11 release that is built with OCC 7.6. You can correct it by opening the old file in the latest release with OCC 7.6 and save again.

All Conda builds are using OCC 7.5. And the rest are using OCC 7.6 (Windows LibPack, MacOS Big Sur)

[2022-04-08 01:25] realthunder commented on #1177
Can you try again with the latest BigSur release? I've made some changes.

[2022-04-08 02:45] luzpaz commented on #1022
@realthunder did you totally deprecate sympy + scipy ?

[2022-04-08 02:47] luzpaz commented on #925
@Rabbit-sk still reproducible on latest LinkDaily?

[2022-04-08 02:51] luzpaz commented on #746
Is this still an issue?

[2022-04-08 03:00] luzpaz commented on #732
[code]

[2022-04-08 03:00] #732 closed

[2022-04-08 03:02] luzpaz commented on #658
@DaAwesomeP hi, is this still an issue?

[2022-04-08 03:03] luzpaz commented on #641
Can you still reproduce this on latest LinkDaily

[2022-04-08 03:04] luzpaz commented on #586
@Kuzma30 ping

[2022-04-08 03:05] #544 closed

[2022-04-08 03:18] kevenwyld commented on #641
So, yes and no.  But maybe it's as it should be now.  Here's a short clip of exactly the same file I had above but in today's release:

https://user-images.githubusercontent.com/11936535/162355702-4138c29b-faee-42a0-b830-187269d24148.mp4

As you can see the trapezoidal faces are centered correctly now.  It's worth noting that I didn't even recreate the elements so some of my old models will likely

[2022-04-08 08:34] ToniTen opened #1195 "[REGRESSION][BUG] Color information is lost on frozen assemblies exported to step"
Related but different to #1180 and #1185 introduced after/as part of the fixes for those issues

### Bug Description
When exporting a frozen assembly as a STEP file, color information is lost. Color information is not lost if the assembly to be exported is not frozen, even if some of the parts of the assembly as themselves frozen assemblies

### Steps to reproduce

1. Download [this archive](https

[2022-04-08 10:46] Miksu80 commented on #1190
Works now with 2022.04.07

[2022-04-08 10:46] #1190 closed

[2022-04-08 12:21] thomasgi1 commented on #1187
Thank you for the fix. With release 04.07 the rendering speed is back to normal.

[2022-04-08 12:21] #1187 closed

[2022-04-08 13:24] realthunder commented on #1186
You had `Auto solid group` enabled for the body, which is why you can't ungroup manually. Right click the body and `Disable auto solid group` and then you can ungroup manually.

[2022-04-08 16:36] Neubo commented on #1189
Thanks !

I've tested with today realease, everything works well.

Have a nice Week-end !

[2022-04-08 16:36] #1189 closed

[2022-04-08 17:41] bambukouk commented on #1186
OK, thank you!
I now understand what I was doing wrong (looking for right click options only in grouped feature, without thinking to check body right click options as well...)

All is well that ends well and sorry for bothering you with such trivia :+1:

Perhaps I should volunteer to start wiki collecting all these nice features?

[2022-04-08 17:41] #1186 closed

[2022-04-08 17:43] luzpaz commented on #520
@realthunder can this ticket be unpinned ?

[2022-04-08 17:48] luzpaz opened #1196 "Can we start to make a distinction between A3 tickets and 'Link branch' tickets?"
The reason i ask is that there a several things going on:
* There are 2 repos: https://github.com/realthunder/FreeCAD/issues and https://github.com/realthunder/FreeCAD_assembly3
* A3 is now in the Addon Manager
* There are open tickets and PRs in https://github.com/realthunder/FreeCAD
* There are open tickets and PRs in  https://github.com/realthunder/FreeCAD_assembly3

I think a repo admin has th

[2022-04-08 18:12] bambukouk commented on #1196
Great idea :+1:
Most of the people (especially on main forum) seem to be confused and equate `Assembly 3` with `Link branch` (wrong :-1: )

It is not helped by refusal of forum mods to create Link branch sub-forum and insisting on dumping anything remotely related to link branch into Assembly sub-forum.

Link branch is released in `FreeCAD_assembly3` and not in `FreeCAD link branch`

Most of us wh

[2022-04-08 18:32] bambukouk commented on #1196
It is indeed useful to make distinction, but...
humans will remain humans - trying to make things `fool proof ` is futile (it only leads to `better fools`)

as for ticket template it's a bit like "about FreeCAD" info requested to be included in every help question :-1:
It has about 20% success rate
Regardless how big a font and how red it is, most of the people will ignore it ...

The only 100% so

[2022-04-08 21:57] luzpaz commented on #1196
@bambukouk it works a lot of the time in FreeCAD/FreeCAD so I'd say it's worth a shot. Train you userbase and they will eventually self-organize.

[2022-04-08 22:01] bambukouk commented on #1196
Bottom line is - I totally agree with you about the need for distinction.
Let's get on with and we can sort out details later 👍

[2022-04-08 22:47] luzpaz commented on #1196
No we just need to wait for the boss to weigh in :wink:

[2022-04-09 00:02] luzpaz commented on #1114
Closing

[2022-04-09 00:02] #1114 closed

[2022-04-09 08:46] hamza00789 opened #1197 "Chamfer"
OS: Windows 10 Version 2009
Word size of FreeCAD: 64-bit
Version: 2022.406.26244 +4692 (Git)
Build type: Release
Branch: LinkDaily
Hash: 0c8e437ef38cdc5dd087529ce6825c6a2a130868
Python version: 3.8.6+
Qt version: 5.15.2
Coin version: 4.0.1
OCC version: 7.6.0
Locale: English/United States (en_US)

The chamfer is not working on this edge. The result is very bad.

![1](https://user-images.githubuserc

[2022-04-09 09:17] Rabbit-sk commented on #925
It behaves the same way. Now I have noticed that the color of the tags changes correctly (after changing the next solid feature from `New Shape` to `Additive`, the color of tags are the same) and so also the tip of the body changes correctly. I'm sorry I incorrectly described the problem at the beginning.

In my opinion, the color of the icon tag is not noticeable enough because there is little sp

[2022-04-09 09:52] Rabbit-sk commented on #1040
It's better, but it would be good to increase the height of the list a bit more.

https://user-images.githubusercontent.com/74265320/162566687-7ee41855-fc07-4707-8eea-268289f84152.mp4

OS: Windows 10 Version 2009
Word size of FreeCAD: 64-bit
Version: 2022.407.26244 +4693 (Git)
Build type: Release
Branch: LinkDaily
Hash: 9610830a8fd492b3b3d96f8328507c80f1437cda
Python version: 3.8.6+
Qt version: 5.

[2022-04-09 10:02] hamza00789 commented on #1121
Looks like this feature used to be in freecad But now it does not exist.

[2022-04-09 10:07] hamza00789 commented on #1081
I just want to know if it will work. Will there be such a feature in freecad in the future?

[2022-04-09 11:01] herrgerd commented on #1197
Maybe use the traditional way with the Groove-Tool instead of sectioning/slicing, hiding one part and...
![grafik](https://user-images.githubusercontent.com/24494466/162569054-abfcd096-81fe-4571-8aba-db6fab27ea28.png)

[2022-04-09 11:17] bambukouk commented on #1197
Simple - the issue is coincident edges
Rotate/Offset Sketch001 attachment around Y axis away from the edge and all is well:
![Screenshot from 2022-04-09 12 16 05](https://user-images.githubusercontent.com/50301871/162569537-01dd6516-775c-4a11-a893-0af7b5b9d7e4.png)

[2022-04-09 12:15] hamza00789 commented on #1197
Can you post this file?

![5](https://user-images.githubusercontent.com/92737149/162573765-133021b2-a6c7-4559-bfc6-30b0357c0cb5.jpg)

[2022-04-09 12:17] #1197 closed

[2022-04-09 12:25] hamza00789 commented on #1080
Do you agree with me regarding the tangent option?  At least the tangent option should work properly. It will be very useful.

![156](https://user-images.githubusercontent.com/92737149/162574067-8be2ce04-78a1-47d7-bd5c-d6c6ddd335e4.jpg)

[2022-04-09 12:43] Kuzma30 opened #1198 "SIGSEGV when try to fix broken link."
First, the original assembly (screw + nut) was in the "main" file. Then it was decided to move all fasteners into one file. Therefore, a separate file with the assembly was created. In a "large" assembly, the screw+nut assembly was removed, leaving an LinkArray (with question marks). When I tried to drag the assembly from a separate file (to update the link) to main assembly, I got the following e

[2022-04-09 18:06] bambukouk commented on #1198
just out of curiosity - is FreeCAD you are using your own version?
I am confused by some elements (highlighted below):
Version: `0.20.30938 (Git)`
Build type: Release
Branch: LinkDaily
OCC version: `7.7.0.dev`

[2022-04-09 18:21] Kuzma30 commented on #1198
Yes, I compile it with dev branch of OCCT.

[2022-04-09 22:14] luzpaz commented on #1081
Again, please rename this ticket a more appropriate title so we can guess what is being asked here

[2022-04-09 22:14] luzpaz commented on #1196
@realthunder ping

[2022-04-10 07:44] Kuzma30 commented on #1198
`Program received signal SIGSEGV, Segmentation fault.
#0  /lib/x86_64-linux-gnu/libc.so.6(+0x42520) [0x7f74e3daa520]
#1  0x7f74e62200f8 in App::PropertyLinkBase::tryReplaceLink[abi:cxx11](App::PropertyContainer const*, App::DocumentObject*, App::DocumentObject const*, App::DocumentObject*, App::DocumentObject*, char const*) from /home/aleksandr/FreeCAD-build-V7_6_1/lib/libFreeCADApp.so+0x178
#2  0

[2022-04-10 11:43] horfee commented on #1177
Hello, it is working now ! Thank you very much !

[2022-04-10 11:43] #1177 closed

[2022-04-10 13:31] luzpaz commented on #1198
Note: you are using Python 3.10.x and there are some issues I've seen reported w/ 3rd party deps (perhaps coin or pivy)?

[2022-04-10 14:09] Kuzma30 commented on #1198
I will try with older Python later.

[2022-04-10 14:44] Kuzma30 commented on #1198
Try on Windows machine

OS: Windows 10 (10.0)
Word size of FreeCAD: 64-bit
Version: 2022.407.26244 +4693 (Git)
Build type: Release
Branch: LinkDaily
Hash: 9610830a8fd492b3b3d96f8328507c80f1437cda
Python version: 3.9.12
Qt version: 5.12.9
Coin version: 4.0.1
OCC version: 7.5.3
Locale: Ukrainian/Ukraine (uk_UA)

Same try to drag and drop from external file "screw + nut" assembly.
[code]

On
OS: Wind

[2022-04-11 01:28] realthunder opened #1199 "OCC STEP export missing face color"
OCC STEP export missed top face color of a cylinder. The problem only occurs for any untransformed cylinder object. Two cylinders are created in the attached test file. One untransformed, the other not. Compare the STEP export of the two objects, one can see that the top face is mistaken for the bottom face for the untransformed cylinder. One particular thing about the cylinder object is that the

[2022-04-11 01:34] realthunder commented on #1195
The problem is fixed with the above commit. During testing I've discovered another OCC bug (see #1199) which has no workaround for the moment. It is not a serious problem as it only happens in very limited cases, one of which is your test file.

[2022-04-11 02:24] realthunder commented on #1198
I can't reproduce the problem. Can you please provide the files just before dragging that caused the crash?

[2022-04-11 04:30] realthunder commented on #1196
I just tried transferring one of my own issue. It works find, but I didn't get any email notification. Looks like we need manually notified the author?

[2022-04-11 04:34] realthunder commented on #1196
@luzpaz Do you have permission to move issue between this and FreeCAD Link branch?

[2022-04-11 04:36] luzpaz commented on #1196
Will start doing this in the next few days :wink:

[2022-04-11 05:21] Kuzma30 commented on #1198
Files here
https://github.com/Kuzma30/FREECAD_CNC
Main assembly is "СтанинаСборка"
![Знімок екрана з 2022-04-11 08-17-02](https://user-images.githubusercontent.com/1382812/162669804-f3078ba7-3713-4c5d-ab18-b4ce14a32c25.png)
Then open "Крепеж"
![Знімок екрана з 2022-04-11 08-18-16](https://user-images.githubusercontent.com/1382812/162669967-ed7bedb0-a57a-4ae3-8272-6133cc36e0ff.png)

[2022-04-11 06:17] #1198 closed

[2022-04-11 07:32] shyblower opened #1200 "Link arrays in assemblies make move tools inaccessible"
When I use link arrays inside of an assembly I cannot utilize any of the move tools (move part, axial move part, quick move) for any part in the same assembly. They become greyed out and inaccessible.

[2022-04-11 13:16] YosypC commented on #1196
I've been wondering why there was a Linkstage3 AND an assembly3, AND why people often submit LS3 issues in the assembly3 Issue page, AND Linkstage3 releases are pushed in this GitHub instead of the LS3's.
I've followed the mass and began posting here too, but I guess it needs to change. Very confusing for newcomers.

[2022-04-11 13:22] realthunder commented on #1200
I can't reproduce the problem. Can you please post an demo file showing the problem. A screen cast will be better, too.

[2022-04-11 13:51] luzpaz commented on #1196
In progress

[2022-04-11 13:55] luzpaz commented on #1098
Please retest with upstream's latest [v0.20dev](https://github.com/FreeCAD/FreeCAD-Bundle/releases/tag/weekly-builds)
Assembly3 is now available through the Addon Manager.

Closing ticket. If issues persist please re-open

[2022-04-11 13:55] #1098 closed

[2022-04-11 16:44] luzpaz commented on #1008
Issue is therefore solved?

[2022-04-11 16:54] luzpaz commented on #889
Closing as OP hasn't followed up

[2022-04-11 16:54] #889 closed

[2022-04-11 22:42] Thovthe commented on #1147
What is the licensing issue that this is supposed to solve?  Both freeCAD and solvespace are GPLv3

https://github.com/solvespace/solvespace/blob/master/COPYING.txt
https://github.com/realthunder/FreeCAD_assembly3/blob/master/LICENSE

[2022-04-11 22:54] luzpaz commented on #1147
Incorrect, FreeCAD is LGPLv2.1

[2022-04-11 23:04] Thovthe commented on #1147
So it is.

[2022-04-11 23:13] luzpaz commented on #1139
@realthunder example file and clip were added to OP

[2022-04-12 02:07] Thovthe commented on #1147
These licenses are compatible though.
See:
https://www.gnu.org/licenses/license-list.html#GPLCompatibleLicenses
https://www.gnu.org/licenses/gpl-faq.en.html#AllCompatibility
And maybe this:
https://www.gnu.org/licenses/license-compatibility.html

[2022-04-12 02:18] luzpaz commented on #1147
really don't know the details but that the addon manager is the way we can use GPL code within FreeCAD. Because it's not bundled in to the FreeCAD installation and instead pulled in post-install. If you have more questions, feel free to direct them to the FreeCAD forum.

[2022-04-12 06:27] shyblower commented on #1200
It happens when you constrain an array element, regardless of the constraint type. After that the three tools become greyed out and inaccessible for every part in the assembly. As long as you just constrain non array parts everything works as usual.
If you still need a screen cast I can provide one, but I believe you will be able to reproduce it now.

[2022-04-12 06:40] realthunder commented on #1200
Please post your FreeCAD about information here. And yes please post the screen cast. Maybe I misunderstood what you're saying, but I still can't reproduce the problem.

https://user-images.githubusercontent.com/1207888/162896781-4c842f0e-0be7-4787-9456-fd7a67fd3aa7.mp4

[2022-04-12 07:13] realthunder commented on #1139
I have checked your file and provide the explanation. My question remains. I want to know `how you created the Part container and the Group`. Did you type commends in the Python console to change the `Group` property of the container? I am asking because the part container you have in this file (and many other files of yours) is invalid. If you add the components to the container by normal drag an

[2022-04-12 07:17] realthunder commented on #1200
Did you manually install Assembly3 workbench before by cloning this repo to your user FreeCAD directory? If so, please delete the directory and restart FreeCAD. I suspect you're using an older version.

[2022-04-12 07:34] realthunder commented on #1200
Oh, now that I rewatched your video, I can see where the problem is. You have the `Lock mover` option enabled. It seems there is a bug in that option for Link array. I'll fix it soon. You can disable that option for a work around.

[2022-04-12 07:39] shyblower commented on #1200
Indeed, it was the lock mover. Thank you for investigating this, and for your efforts regarding FreeCAD development.

[2022-04-12 08:08] realthunder commented on #1200
You're welcome. It's been fixed by the above commit.

[2022-04-12 09:12] hamza00789 commented on #1139
This is how I start each of my files. First I use a part container. Then I activate the part container. Then I create a group. Then I make whatever I want And then I keep throwing things in group. You can see in the given video I made a sketch and threw it inside the group then extruded it and threw it inside the group.

[mp4.zip](https://github.com/realthunder/FreeCAD_assembly3/files/8471493/mp4.

[2022-04-12 09:22] hamza00789 commented on #1139
Did you want to ask this?

[2022-04-12 09:25] hamza00789 commented on #1139
Doesn't know about the Python console and has never used it.

[2022-04-12 11:46] hamza00789 commented on #1139
Another problem I often encounter. It may have something to do with this problem.

When I select from the tree, the selection is not indicated in 3D. But when I make a choice in 3D, the tree indicates a choice.

[MP4.zip](https://github.com/realthunder/FreeCAD_assembly3/files/8472539/MP4.zip)

[2022-04-12 12:21] luzpaz commented on #1175
Are you using the latest LinkStage3 stable?
I can't reproduce on
[code]

[2022-04-12 12:24] luzpaz commented on #1115
@hamza00789 can you still reproduce this? (and also try on the release RT sent you?)

[2022-04-12 12:57] luzpaz commented on #1139
https://wiki.freecad.org/Python_console

[2022-04-12 16:53] #847 closed

[2022-04-12 16:55] #870 closed

[2022-04-13 01:11] #1143 closed

[2022-04-13 01:14] luzpaz commented on #1030
Is this Assembly3 related or Link Branch related?

[2022-04-13 01:17] hamza00789 commented on #1115
What answer are you waiting for? Do you want me to re-submit this issue? Should I try again with the new release? Can you explain?

[2022-04-13 01:37] hamza00789 commented on #1115
OS: Windows 10 Version 2009
Word size of FreeCAD: 64-bit
Version: 2022.407.26244 +4693 (Git)
Build type: Release
Branch: LinkDaily
Hash: 9610830a8fd492b3b3d96f8328507c80f1437cda
Python version: 3.8.6+
Qt version: 5.15.2
Coin version: 4.0.1
OCC version: 7.6.0
Locale: English/United States (en_US)

This problem is still present in new releases.

[MP4.zip](https://github.com/realthunder/FreeCAD_assem

[2022-04-13 04:57] realthunder commented on #1030
The OP is more asm3 related I believe. @ToniTen can you please provide a file showing the problem. I tried your steps but didn't seem to have any problem.

[2022-04-13 05:06] realthunder commented on #1115
What navigation method are you using? The problem is that your rotation causing the camera to panning out of the scene boundary. You can use mouse middle click the object the recenter rotation center. But I'm curious what causes the panning while rotating.

[2022-04-13 05:39] hamza00789 commented on #1115
I am using blender navigation.

![0](https://user-images.githubusercontent.com/92737149/163107825-1fb1b6fa-be5a-4960-b675-68b827b614f4.jpg)

[2022-04-13 05:51] hamza00789 commented on #1115
Looks like this problem is only happening to me. I think the solution you have given is enough.  instead, you need to solve other problems which are more important than that.

[2022-04-13 05:51] #1115 closed

[2022-04-13 06:58] hamza00789 opened #1203 "installing error (may be related to external Part-o-Magic addon)"
This error occurred while installing sheet metal add-ons. Is this a problem?

11:51:39  GitPython not found. Using standard download instead.
11:51:40  Traceback (most recent call last):
11:51:40    File "C:\FreeCAD-asm3-Daily-Win64-Py3-Qt5-20220407\FreeCAD-asm3-Daily-Win64-Py3-Qt5-20220407\Mod\AddonManager\addonmanager_utilities.py", line 126, in urlopen
    u = urllib2.urlopen(req, timeout=timeo

[2022-04-13 07:03] hamza00789 commented on #1203
Now this error message comes when installing any workbench

12:00:37  GitPython not found. Using standard download instead.
12:00:38  Traceback (most recent call last):
12:00:38    File "C:\FreeCAD-asm3-Daily-Win64-Py3-Qt5-20220407\FreeCAD-asm3-Daily-Win64-Py3-Qt5-20220407\Mod\AddonManager\addonmanager_utilities.py", line 126, in urlopen
    u = urllib2.urlopen(req, timeout=timeout)
12:00:38    Fi

[2022-04-13 07:28] bambukouk commented on #1203
This is not `assembly` issue.
Belongs here: https://github.com/realthunder/FreeCAD/issues
as per https://github.com/realthunder/FreeCAD_assembly3/issues/1196#issue-1197600774

[2022-04-13 07:29] realthunder commented on #1203
So did the workbench installed properly?

Please try start freecad with the `RunFreeCAD.bat` file in your archive extracted directory and try again.

[2022-04-13 07:33] hamza00789 commented on #1203
Yes, the workbench was installed properly but I wanted to point out this error.

[2022-04-13 07:41] ToniTen commented on #1030
Last time that happened was a while ago, and I've been careful since then. I will try to create a file illustrating the problem that I can share. It might not happen any more for all I know. I also know that this has happened to me when dealing with large assemblies, usually partly composed of imported steps (so the geometry isn't always in a good shape)

[2022-04-13 07:44] hamza00789 commented on #1203
I started freecad with Run Freecad.bat but the error message is still coming.

Traceback (most recent call last):
12:37:54    File "C:\FreeCAD-asm3-Daily-Win64-Py3-Qt5-20220407\FreeCAD-asm3-Daily-Win64-Py3-Qt5-20220407\Mod\AddonManager\addonmanager_utilities.py", line 126, in urlopen
    u = urllib2.urlopen(req, timeout=timeout)
12:37:54    File "C:\FreeCAD-asm3-Daily-Win64-Py3-Qt5-20220407\FreeCA

[2022-04-13 08:12] hamza00789 commented on #1203
This error message comes up every time I use a part container.

13:10:46  <MDIView> ActiveObjectList.cpp(216): Cannot set active object Unnamed#Part. in document 'Unnamed'. Not found in current selection
13:10:46  Traceback (most recent call last):
13:10:46    File "C:\Users\hamza\AppData\Roaming\FreeCAD\Mod\Part-o-magic\PartOMagic\Gui\Observer.py", line 242, in poll
13:10:46      self.trackActive

[2022-04-13 08:24] hamza00789 commented on #1203
The part-container error message disappears when uninstalling Part-o-Magic.

[2022-04-13 11:50] hamza00789 commented on #1203
Can you tell me how to get rid of these error messages?

[2022-04-13 12:54] luzpaz commented on #1203
This ticket is disorienting. There is no [about](https://wiki.freecad.org/About) info which would tell us what addons are installed as well.

Checkout:  https://github.com/DeepSOIC/Part-o-magic#uninstall

[2022-04-13 13:22] hamza00789 commented on #1203
OS: Windows 10 Version 2009
Word size of FreeCAD: 64-bit
Version: 2022.407.26244 +4693 (Git)
Build type: Release
Branch: LinkDaily
Hash: 9610830a8fd492b3b3d96f8328507c80f1437cda
Python version: 3.8.6+
Qt version: 5.15.2
Coin version: 4.0.1
OCC version: 7.6.0
Locale: English/United States (en_US)

[2022-04-13 14:12] hamza00789 commented on #1203
![5](https://user-images.githubusercontent.com/92737149/163199310-f2500653-4d35-40d5-97eb-1ad74eb42808.jpg)

I have these addons installed. Would you like to ask me more about this?

[2022-04-13 14:23] MisterMakerNL opened #1204 "I broke my model with the configuration table or the suppress expressions"
So I was trying to make an example file also for me to learn from it.
And I broke it.
I made a Lego brick that is derived from a configuration table.
And everything went fine until I pushed it too far.
It broke at the moment when I started to suppress more patterns for allowing a 1x1 block.
Also I thought it might be a useful file to test with it therefore I want to share it too.

I cannot select

[2022-04-13 14:34] hamza00789 commented on #1203
There are two videos, one with part o magic and one without part o magic. As can be seen in the second video, Part o Magic is not installed. And it can be seen that there was no error message while taking part container.
This makes it clear. The error message that occurs when taking part containers is due to part o magic.

[1.zip](https://github.com/realthunder/FreeCAD_assembly3/files/8482298/1.zi

[2022-04-13 14:36] luzpaz commented on #1203
In upstream master, About info also shows installed addons/macros. Thought that Link branch had that but I was wrong.

[2022-04-13 14:36] luzpaz commented on #1203
can you not add the movies directly instead of zipping?

[2022-04-13 14:46] hamza00789 commented on #1203
In that case, you will not be able to watch the video. I don't know why but I have this problem now. You can watch one of my videos by posting it without zipping.

[2022-04-13 18:26] bambukouk commented on #1203
`Note: Video codec compatibility is browser specific, and it's possible that a video you upload to one browser is not viewable on another browser. At the moment we recommend using h.264 for greatest compatibility.`

as per:
https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/attaching-files

and yes, your videos attached directly don't show in preview

[2022-04-13 20:48] luzpaz commented on #855
@snelweg would you be so kind to report this to Path [subforum](https://forum.freecadweb.org/viewforum.php?f=15)?

[2022-04-13 21:04] luzpaz commented on #1203
@DeepSOIC would you be so kind to weigh-in on this ? (since it could be part-o-magic related)

[2022-04-13 22:01] DeepSOIC commented on #1203
I highly doubt the original issue has anything to do with part-o-magic. The errors when new Part is created certainly do. I don't immediately know the cause, i need to check it out, but i'm not sure if i'm gonna do it any time soon... I've never tested PoM for compatibility with realthunder's branch.

[2022-04-14 00:07] #1203 closed

[2022-04-14 00:10] realthunder commented on #1203
The problem is fixed by the above commit. This is harmless error. But you want to fix it now, just find `addonmanager_utilities.py` and `addonmanager_workers.py` and manually change it as shown in the commit.

[2022-04-14 01:34] hamza00789 commented on #1132
I tried again in the new release. The result was the same (bad). I think this is a bug. Or it could be an occ connected problem.

![1](https://user-images.githubusercontent.com/92737149/163296470-2f2542be-1758-4161-ab2a-16e0e3f821ed.jpg)

[blend.zip](https://github.com/realthunder/FreeCAD_assembly3/files/8485651/blend.zip)

[2022-04-14 01:54] realthunder commented on #1139
Can you please create a screencast duplicate the steps you did to create this file, the file with the non-responsive tree selection?

[2022-04-14 01:55] hamza00789 commented on #1171
https://drive.google.com/file/d/144MQOzygs1o8Bi6ZQ6j86RHxCrt9mlf4/view?usp=sharing

There are two videos. In both videos, the sketch is created differently. In the first video comes the error message from the way the sketch is created.   But in the second video, the way the sketch is created, the error message does not come.

[2022-04-14 02:22] realthunder commented on #1204
I tried your file. Doesn't seem to have any problem. Which configuration is causing the problem?

[2022-04-14 02:39] hamza00789 commented on #1139
I did not understand you.
This problem occurs when a father is thrown into the tree. In this case, it becomes impossible to choose anything from the tree. But if the child is picked up and thrown into a tree and placed back in the group, then the selection process begins. You can see the problem in the video.

https://user-images.githubusercontent.com/92737149/163302964-76a2d042-25b1-4628-be9e-058

[2022-04-14 04:34] OxygenLiu opened #1205 "Measurement label invisible"
[code]

/home/oxygen/Desktop/Screenshot from 2022-04-14 12-32-36.png

[2022-04-14 04:57] HaasNL2 commented on #1204
Non of them are working anymore in that file, I had a backup and compared it too the working one. Made a short screen recording off it.
https://user-images.githubusercontent.com/29804962/163316068-2cad9e50-790e-46f7-8904-8755e094a752.mp4
Also here is the working version.
[lego_block working.zip](https://github.com/realthunder/FreeCAD_assembly3/files/8486331/lego_block.working.zip)

[2022-04-14 05:26] realthunder commented on #1139
Now I see why many of your files contain invalid Part containers. It is because you are dragging out objects that are not supposed to be dragged out. Those warnings are for that exactly. Those messages used to be printed out as errors, the the container would auto correct itself by removing the depending `Extrude` object out of the container the moment you drag the sketch out. Although this enforc

[2022-04-14 08:06] snelweg commented on #855
I will. Problem still here in version daily 2407

`OS: Debian GNU/Linux 11 (bullseye) (X-Cinnamon/cinnamon)
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 2022.407.28576 (Git) AppImage
Build type: Release
Branch: LinkStage3
Hash: 599f7663af69d3dbd77063e834b12f26da513b2d
Python version: 3.9.12
Qt version: 5.12.9
Coin version: 4.0.1
OCC version: 7.5.3
Locale: Dutch/Netherlands (nl_NL)

[2022-04-14 08:06] #855 closed

[2022-04-14 08:22] hamza00789 commented on #1139
Can you fix the selection process?

Because the second problem is that parents get out of the group. This problem can be solved in one way if things are inserted into the group through group property.

https://user-images.githubusercontent.com/92737149/163344036-75824ddc-482e-4921-8123-849488a9f581.mp4

I find it much better to look at the details of the previous work and work ahead. That's why I

[2022-04-14 09:16] bambukouk commented on #1205
are you using experimental renderer?

[2022-04-14 10:10] OxygenLiu commented on #1205
yep, experimental render. Switching to Auto render fixes the issue.

[2022-04-14 11:13] luzpaz commented on #1205
@realthunder is there a way to have the About info display what renderer they're using?

[2022-04-14 15:29] luzpaz commented on #1092
Initially I could reproduce the 'bug' but then with the help of @studiopetrikas I understood it was STEP preferences. Once i adjusted them I saw the colors.
@KeithSloan What are you STEP settings?

Here are mine
![Screenshot_20220414_112905](https://user-images.githubusercontent.com/4140247/163423144-12d10926-e059-44e6-a1b5-6c8a7981945b.png)
[code]

[2022-04-14 20:26] Thovthe commented on #1147
But it is the workbench pulling it in and Solvespace and the workbench are both GPLv3.  So why would it need to be unbundled from the workbench?

[2022-04-15 00:29] kevenwyld commented on #1196
In my opinion this is the root of most of the confusion.  Link branch installer/packages are released here in this repo and not realthunder/FreeCAD .  Is there a plan to change that?  Or is that even possible to change?

While this is true, the link branch appimage seems to still be bundled with it.  So thinks are quite mixed together between these two repos and should probably be untangled furthe

[2022-04-15 00:57] luzpaz commented on #1196
Indeed. We're slowly teasing apart the issue. There are so many posts/link/social-media mentions that point to A3 release page for Link branch builds. But it's realthunder's call in the end.

[2022-04-15 06:01] OxygenLiu opened #1207 "xkbcommon: ERROR: failed to add default include path"
When launching Link Daily, the following error occurs,

Although everything works fine, I am wondering what is the possible side effect, and how to avoid the error message.

[code]

[2022-04-15 12:26] luzpaz commented on #1149
@AIMEDSolutions ping

[2022-04-15 12:37] luzpaz commented on #774
@KeithSloan when you get a chance, can you retest on LinkDaily ?

[2022-04-15 12:40] luzpaz commented on #1107
Original issue solved. JFYI, A3 is available via Addon Manager now an independent of Link branch.

[2022-04-15 12:40] #1107 closed

[2022-04-15 15:39] bambukouk opened #1208 "When using Axial alignment constraint things do not behave as expected"
Simple assembly.
Box with a round hole and round peg.
Two cylindrical faces used as elements.

![ax_al_test1](https://user-images.githubusercontent.com/50301871/163593879-0072e491-c14f-47a5-ac34-2f39054cc818.png)

[code]

File:
[axial_alignment_test.FCStd.zip](https://github.com/realthunder/FreeCAD_assembly3/files/8496877/axial_alignment_test.FCStd.zip)

but... when I try to use `Axial Alignment c

[2022-04-15 17:01] YosypC opened #1209 "[Issue] Using fillet causes a face to be deleted"
![image](https://user-images.githubusercontent.com/50027752/163599072-47ac5630-df79-447e-b51b-09bcc0d24bd9.png)
[HelmetPhoneMount.zip](https://github.com/realthunder/FreeCAD_assembly3/files/8497062/HelmetPhoneMount.zip)

Fillet001, in PhoneCase body.

[code]

[2022-04-15 17:50] bambukouk commented on #1209
Correct way of creating this fillet is in Sketch005
Not as an afterthought in the end - OCC will not cope easily with many fillets.
This is one of them...
Nothing that can be done about it in FreeCAD (either Link or Master)
[HelmetPhoneMount(bambuko).FCStd.zip](https://github.com/realthunder/FreeCAD_assembly3/files/8497297/HelmetPhoneMount.bambuko.FCStd.zip)
![Screenshot from 2022-04-15 18 45 30](

[2022-04-15 20:43] Thovthe commented on #1147
Probably, but if we go with the assumption that the binding can't be bundled because it's GPLv3 then the workbench can't without being relicensed, and if other people have contributed that may be easier said than done.

[2022-04-15 22:02] luzpaz opened #1210 "Assembly3 is GPL and FreeCAD Link is LGPLv2.1"
_Originally posted by @luzpaz in https://github.com/realthunder/FreeCAD_assembly3/issues/1147#issuecomment-1099597093_

CC @Thovthe

[2022-04-16 00:53] realthunder commented on #1208
I can reproduce the problem. It may fail or not depending on whether to select the box face first or the cylinder face. And when it is not moved correctly, there may either be warning message about redundant constraint or error message about inconsistent constraint. I think the problem is caused by the initial position of the parts being too far apart, and the solver is confused about what message

[2022-04-16 05:10] hamza00789 opened #1211 "The trim edge is not working in some places."
As can be seen in the video, when I cut one edge, it was cut properly, but when I tried to grab the other edge, I could not do it. When it doesn't work, something like this error message comes up.

10:07:25  <Exception> Geometry.cpp(949): class Base::CADKernelError
10:07:25  App.getDocument('Unnamed1').getObject('Sketch').trim(0,App.Vector(-33.588036,15.230045,0))
10:07:25  Failed to trim edge: No

[2022-04-16 05:41] hamza00789 opened #1212 "The offset command is not working properly."
The offset command is not working properly. The result is very bad. You can see how the surface is cracking. There is nothing wrong with the surface that is being offset (geometry results fine).

https://user-images.githubusercontent.com/92737149/163663208-34ef7166-d7ae-41f8-a9b4-8ca923525fb0.mp4

[2022-04-16 07:13] bambukouk commented on #1208
Thank you for the confirmation.
That was my understanding as well, but I was beginning to doubt my sanity after questions on the subject on main forum.

[2022-04-16 07:13] #1208 closed

[2022-04-16 08:53] bambukouk commented on #1212
https://forum.freecadweb.org/viewtopic.php?f=8&t=68040

So, it is not working in both Link branch and Master branch?
BTW why is it here in Assembly 3 issues?

It is Part workbench problem?

[2022-04-16 08:57] bambukouk commented on #1211
It's another "not assembly 3" issue...
https://github.com/realthunder/FreeCAD_assembly3/issues/1196

[2022-04-16 09:47] hamza00789 commented on #1212
I don't know where the problem should be.Can you guide me on where the issue of the part workbench should be?

[2022-04-16 10:32] bambukouk commented on #1212
Offset is a tool in Part workbench (that's what I meant, rather than suggesting that the problem is in the actual workbench)

I understand that it is OCC related and therefore not possible to address here?

[2022-04-16 10:58] luzpaz commented on #1212
@hamza00789 just FYI https://github.com/realthunder/FreeCAD_assembly3/issues/1196

[2022-04-16 16:48] bambukouk opened #1213 "error message when "mousing" over constraints in master 0.20"
It only happens in master branch (not in link branch).
When "mousing" over/selecting constraints in an assembly, one gets an error message.
![selection](https://user-images.githubusercontent.com/50301871/163683947-0495f775-c459-4e04-93f0-b6ad0355c858.png)
![message](https://user-images.githubusercontent.com/50301871/163683950-28f3b416-9dc5-4ea3-a1c3-9e17d46e47b5.png)

[code]

[2022-04-16 23:09] realthunder commented on #1213
Please update Assembly3 workbench. You can do it using addon manager.

[2022-04-17 07:56] bambukouk commented on #1213
Mine was so old that it didn't even show as an addon in addon manager (I have installed Assembly 3 in master branch manually long time ago...)
but... installing it again via addon manager was easy, painless and solved the problem - thank you!

[2022-04-17 07:56] #1213 closed

[2022-04-17 14:34] hamza00789 commented on #1139
Do you think it is appropriate to solve this problem? Can you solve it? Will you solve it?

[2022-04-17 20:50] luzpaz commented on #797
@realthunder verdict on this ticket?

[2022-04-17 20:52] luzpaz commented on #783
@realthunder issue still persists apparently

[2022-04-18 00:54] hamza00789 opened #1214 "The problem of freecad crashing using sublink"
OS: Windows 10 Version 2009
Word size of FreeCAD: 64-bit
Version: 2022.407.26244 +4693 (Git)
Build type: Release
Branch: LinkDaily
Hash: 9610830a8fd492b3b3d96f8328507c80f1437cda
Python version: 3.8.6+
Qt version: 5.15.2
Coin version: 4.0.1
OCC version: 7.6.0
Locale: English/United States (en_US)

Freecad crashes when I use the sublink command in the lattice workbench. As you can see in the video f

[2022-04-18 00:56] hamza00789 opened #1215 "The command of thickness is not working properly"
OS: Windows 10 Version 2009
Word size of FreeCAD: 64-bit
Version: 2022.407.26244 +4693 (Git)
Build type: Release
Branch: LinkDaily
Hash: 9610830a8fd492b3b3d96f8328507c80f1437cda
Python version: 3.8.6+
Qt version: 5.15.2
Coin version: 4.0.1
OCC version: 7.6.0
Locale: English/United States (en_US)

The intersection option in the thickness command is not working properly. When I use the intersection

[2022-04-18 03:40] realthunder commented on #1214
Normally, if there is a hard crash, it almost always indicates something wrong with the FreeCAD itself, instead of some external workbench. So [#359](realthunder/FreeCAD#359) is more appropriate.

[2022-04-18 03:40] #1214 closed

[2022-04-18 23:13] #746 closed

[2022-04-18 23:16] luzpaz commented on #107
@ceremcem can you retest?

[2022-04-18 23:17] luzpaz commented on #50
@ceremcem please retest when you have a moment? Thanks!

[2022-04-18 23:20] luzpaz commented on #776
bumping for progress on ticket

[2022-04-19 00:46] luzpaz opened #1216 "📢 Discuss Assemblu3 issues in the FreeCAD Assembly subforum"
Assembly3 related posts can be posted in https://forum.freecadweb.org/viewforum.php?f=20
Guidelines for posting A3 related posts:
* Prepend [Assembly3] to the title
* Always add you full [About](https://wiki.freecad.org/About) info
* Please research by searching for your issue on the forum beforehand

**Note**: Assembly3 is now independent of Link Branch, see #1196 for more details.
If you have a

[2022-04-19 04:33] #783 closed

[2022-04-19 04:33] #721 closed

[2022-04-19 07:38] snelweg commented on #776
`I now have a complete and working Linkstage3 version`

[2022-04-19 07:38] #776 closed

[2022-04-19 11:11] luzpaz commented on #776
@snelweg do you mind notating how so that someone reading this has 'closure' ?

[2022-04-19 11:44] snelweg commented on #776
What is missing from the post https://github.com/realthunder/FreeCAD_assembly3/issues/776#issuecomment-896605504 ???? It's all there.

I did a git checkout LinkDaily Path in src/Mod directory and this did pull in the missing Path directory

A new
cmake ../freecad-source-daily -DBUILD_QT5=ON -DPYTHON_EXECUTABLE=/usr/bin/python3
and
cmake --build /home/ton/FREECAD/freecad-build.daily -j 6
worked and

[2022-04-19 13:31] HaasNL2 opened #1217 "2 issues with the Iconset feature"
I was making some Icons for Freecad, and stumbled on 2 issues for now.
Thought I report them before I forget. I think the image is self explanatory.
The didn't work just did nothing. Probably issue with the drop-out toolbar thingy.
![afbeelding](https://user-images.githubusercontent.com/29804962/164015170-07b8d066-fe70-43e3-8cec-c14d340f4935.png)
`OS: Windows 10 (10.0)
Word size of FreeCAD: 64-bit

[2022-04-19 22:37] hloew opened #1218 "In sketcher / part design text of diameter measurment not shown"
Hello,
first of all this is the information from the "About" (or "Über FreeCAD Link Branch" in German)
OS: Ubuntu 20.04.4 LTS (KDE/plasma)
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 2022.406.28575 (Git) AppImage
Build type: Release
Branch: LinkStage3
Hash: 0ac46d957b0b98af48c7a94dde51e518d1388f31
Python version: 3.9.12
Qt version: 5.12.9
Coin version: 4.0.1
OCC version: 7.5.3
Lo

[2022-04-19 23:28] luzpaz commented on #1218
Can you reproduce this on LinkDaily as well ?

[2022-04-20 04:27] #1139 closed

[2022-04-20 08:15] realthunder commented on #1139
Add two options to allow fine tune the normal group, and App::Part group behavior.

You can disable `Claim all children` to auto hide child object in a normal group that is also claimed by other child object. You can also enable `Allow cross coordinate links` to not auto remove object in some case, but use this option with caution. I strongly suggest you try the PartDesign workbench. Part features

[2022-04-20 09:16] realthunder commented on #1218
I can't reproduce the problem. Can you please send me your configurations through `Tools -> Edit parameters -> Export`.

[2022-04-20 18:32] hloew commented on #1218
[export.FCParam.zip](https://github.com/realthunder/FreeCAD_assembly3/files/8524152/export.FCParam.zip)

Hello,
thanks for the replies, I've added the exported parameters and the test with FreeCAD-asm3-Daily-Conda-Py3-Qt5-20220407-glibc2.12-x86_64.AppImage has as result the same error.

With FreeCAD_0.19.3-Linux-Conda_glibc2.12-x86_64.AppImage the diameter text is a little bit truncated at the bot

[2022-04-21 05:30] mwlandolsi commented on #1134
Thanks for your fixes. Sorry to answer in late because I was very busy these days.
Padding up to face, up to first, up to last, draft and thickness (2d and 3D) are commonly used in plastic parts design. So I use them, but with a lot of cares in this field.
Let's start for example by padding some ribs.
![image](https://user-images.githubusercontent.com/76944804/164380968-c9500647-648a-4438-9a66-00d

[2022-04-22 20:10] m-sundman opened #1219 "Segfault when run on wayland"
Stable 2022-04-06 does not work on wayland:
[code]

Since even the really big distros are moving, or have already moved, to wayland as default this is a very big problem.

As a workaround this works on **some** systems:
[code]

[2022-04-23 07:19] QuakeString opened #1220 "Blank Start Page"
There is nothing in start page

OS: Manjaro Linux (KDE/plasma)
Word size of FreeCAD: 64-bit
Version: 2022.407.26244 +4693 (Git) AppImage
Build type: Release
Branch: LinkDaily
Hash: 9610830a8fd492b3b3d96f8328507c80f1437cda
Python version: 3.9.12
Qt version: 5.12.9
Coin version: 4.0.1
OCC version: 7.5.3
Locale: English/United States (en_US)
![image](https://user-images.githubusercontent.com/5375918/

[2022-04-23 09:58] ElPatoNoEsTu opened #1221 "'utf-8' codec can't decode byte 0xfc in position 301: invalid start byte"
Hi all,

after replacing a former version (mid summer 2021)  by the current 2022.04.07  i get the above message.

doinge a search - i found it might have to do with th "locale" setting -  but I cant  "export"  encodiung-setting due to using windows as os .

Also it looks like the startup-scrip isn't read correctely as i get a blank "freecad-window" without the used possibilitiys in selecting a las

[2022-04-23 11:46] luzpaz commented on #1221
Where do you get the message? Do you have an example file?
If you can load FreeCAD, please post your full [About](https://wiki.freecad.org) info

[2022-04-23 13:01] ElPatoNoEsTu commented on #1221
OS: Windows 10 Version 2009
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 2022.407.28576 (Git)
Build type: Release
Branch: LinkStage3
Hash: 599f7663af69d3dbd77063e834b12f26da513b2d
Python version: 3.8.6+
Qt version: 5.15.2
Coin version: 4.0.1
OCC version: 7.5.0
Locale: German/Germany (de_DE)
<img width="691" alt="2022-04-23 14_59_30-FreeCAD Link Branch" src="https://user-images.git

[2022-04-23 19:13] hamza00789 opened #1222 "Automatic color change of some parts."
OS: Windows 10 Version 2009
Word size of FreeCAD: 64-bit
Version: 2022.407.26244 +4693 (Git)
Build type: Release
Branch: LinkDaily
Hash: 9610830a8fd492b3b3d96f8328507c80f1437cda
Python version: 3.8.6+
Qt version: 5.15.2
Coin version: 4.0.1
OCC version: 7.6.0
Locale: English/United States (en_US)

When I made two cubes parametric solid. So the color of some parts changes automatically. This is beca

[2022-04-23 22:02] luzpaz commented on #1221
Do you see this in LinkDaily as well?

[2022-04-24 00:21] realthunder commented on #1221
Can you please send me your user configuration file, `Tools -> Edit parameters -> Export`.

[2022-04-24 15:59] KeithSloan commented on #1092
Sorry was on holiday which has turned into COVID self isolation - Will look at when feeling better.

[2022-04-24 16:02] KeithSloan commented on #774
When feeling better, COVID self isolation.

[2022-04-24 20:18] ElPatoNoEsTu commented on #1221
[user_config_file.zip](https://github.com/realthunder/FreeCAD_assembly3/files/8550449/user_config_file.zip)

[2022-04-25 05:17] realthunder commented on #1221
Can you please zip the following directory and post it here? Also please try [daily branch](https://github.com/realthunder/FreeCAD_assembly3/releases/download/0.11/FreeCAD-asm3-Daily-Win64-Py3-Qt5-20220407.7z) and see if works.

[code]

[2022-04-25 05:18] realthunder commented on #1220
Are there any error message in the report view?

[2022-04-25 06:38] automaton-v opened #1223 "link placement idea"
Starting with few objects. Gradually building up by exponentiating the parts. The issue comes when you have e.g. 30 parts in a line and you want to offset a copy.
Idea - set link transform to true. Offset the parts to double instantly. Then press a new button "bake" to keep them in place. Now you can turn link transform back to false, and they wont move, but independent movement is retained with l

[2022-04-25 07:09] automaton-v opened #1224 "Collision avoidance allowance in array"
Wish for BREP object to have definable "cushions" around them, so there's no collision when doing arrays.  Put objects into constraint bubbles before arraying, defining the gaps between object as

To describe behaviour of this in a path array:

E.g. Imagine a snake spine with vertebrae of cubes.

face to face minimum distance, maximum within a range.
2 x Edge to edge constraints between cubes -- w

[2022-04-25 08:50] realthunder commented on #1204
The cause of the problem is the wrong `BaseFeature` in `Pad003`. It is supposed to be based on the y pattern instead of the x pattern. Can you recall how you created `Pad003`? Have you reordered feature?

https://user-images.githubusercontent.com/1207888/165054203-83a472bf-56f1-4110-a2c9-485a91c36193.mp4

[2022-04-25 15:12] ElPatoNoEsTu commented on #1221
By the way - I also noticed a blank Start-Screen.

[FreeCADStartThumbnails.zip](https://github.com/realthunder/FreeCAD_assembly3/files/8555786/FreeCADStartThumbnails.zip)

[2022-04-25 17:50] QuakeString commented on #1220
No error at all.
![image](https://user-images.githubusercontent.com/5375918/165145378-0fdeb4f0-b7a3-4c61-b3d8-64dca5eeefed.png)

[2022-04-25 20:40] luzpaz commented on #1092
Feel better. Let us know how you're doing!

[2022-04-25 22:48] luzpaz commented on #1223
Please put more effort in to this enhancement request. Vague title and lack of structure:

* Less generic title
* Describe the Issue (be as elaborate as possible)
* What's the solutions you propose and how does it improve the current workflow?

The more effort you put in to it the higher probability it will get addressed

[2022-04-25 23:57] realthunder commented on #1220
Can you please zip the directory `/tmp/FreeCADStartThumbnails` and posted it here?

[2022-04-25 23:58] #1221 closed

[2022-04-26 03:11] swebra commented on #1220
I'm also a KDE Manjaro user and am seeing the same thing. I can replicate the issue in both AppImages releases (latest and stable), but the snap release seems to be fine

<details>
<summary>Details of AppImage Installations</summary>

OS: Manjaro Linux (KDE/plasma)
Word size of FreeCAD: 64-bit
Version: 2022.407.26244 +4693 (Git) AppImage
Build type: Release
Branch: LinkDaily
Hash: 9610830a8fd492b3

[2022-04-26 05:27] ElPatoNoEsTu commented on #1220
@QuakeString
Did you explictely check your  "Report - View" Window for any errors ?

Might it be that this is (too) a "python version" - locale/language handling" related problem?
(  Doing some research on the utf-8 error i stumbled a couple of times over messages stating that there might be connection. )

[2022-04-26 05:41] QuakeString commented on #1220
here it is.
[FreeCADStartThumbnails.zip](https://github.com/realthunder/FreeCAD_assembly3/files/8560188/FreeCADStartThumbnails.zip)

[2022-04-26 05:45] QuakeString commented on #1220
My report view has no error as i posted the screenshot [here](https://github.com/realthunder/FreeCAD_assembly3/issues/1220#issuecomment-1108863897)
and here is my terminal output, absolutely no error.
![image](https://user-images.githubusercontent.com/5375918/165229987-f7473f11-1f6b-471d-98e2-881fa8c8de38.png)

[2022-04-26 06:47] realthunder commented on #1220
It may be related to [this](https://bugs.launchpad.net/ubuntu/+source/glibc/+bug/1939993) issue. If so, we may need to add a patch to conda qt recipe. @looooo can you please check this out? I see upstream also [reporting](https://forum.freecadweb.org/viewtopic.php?f=4&t=66363&start=60#p579284) similar problem.

[2022-04-29 03:27] Nemo-HelloWorld opened #1225 "Assembly3 can not be loaded"
### When I run FreeCAD, it reports the following error:

[code]
### System information:
[code]

[2022-04-29 09:50] realthunder opened #1226 "> I can't reproduce the problem. Please post a file showing the problem."
There is another similar problem, look at it. When I select a circle, the result is a dot, and when I select another circle, the result is the opposite.

![1](https://user-images.githubusercontent.com/92737149/146380016-35041635-7b08-44cd-810b-1d83191b4559.jpg)
![2](https://user-images.githubusercontent.com/92737149/146380088-d1671801-320e-4a68-9ec8-9f4bf6349f48.jpg)
![3](https://user-images.githu

[2022-04-29 09:56] #956 closed

[2022-04-29 12:06] luzpaz commented on #1059
This happens from time to time. I've reported the first time back in 2019 https://github.com/AppImage/AppImageUpdate/issues/128

[2022-04-29 12:06] #1059 closed

[2022-04-29 12:11] luzpaz commented on #1225
Please always add your full [About](https://wiiki.freecad.org/About) info next time. You should also test this in [v0.20dev](https://github.com/FreeCAD/FreeCAD-Bundle/releases/tag/weekly-builds)

[2022-04-30 02:54] #723 closed

[2022-04-30 05:03] Nemo-HelloWorld commented on #1225
Done :)

[2022-05-03 07:07] andyylin commented on #315
Hi, I'm also having this problem with the latest Daily release. I've checked my firewall and it should be working fine.

[code]

Here are the Report View logs:
[code]

[2022-05-04 00:46] andyylin opened #1227 "Addon manager (workbenches, macros) not listing"
Hi, I'm unable to access any addons through the add-on manager. I'm able to access add-ons on the 0.20 standard build, but not on realthunder's daily build.

[code]

Here are the Report View logs:
[code]

[2022-05-04 08:06] goeland86 commented on #1092
Hi, just want to add to this - I got a .stp file from grabcad to import and work with. When I try to open or import the stp file, the FreeCAD stable and daily builds from April crash.

[code]
[X MOTOR GROUP.stp.txt](https://github.com/realthunder/FreeCAD_assembly3/files/8618710/X.MOTOR.GROUP.stp.txt)

The stp file generating the crash can be found here: https://grabcad.com/library/step-motor-nema-

[2022-05-04 08:44] realthunder commented on #1092
Please try again with the latest release [here](https://github.com/realthunder/FreeCAD/releases).

[2022-05-04 08:50] realthunder commented on #1227
Can you please run the following code in FreeCAD Python console, and post here the output?

[code]

[2022-05-04 09:02] goeland86 commented on #1092
@realthunder Thank you, I hadn't noticed there was a new release. It loads fine now, thank you!

[2022-05-05 07:16] andyylin commented on #1227
Yes, thank you, here's the output.

[code]

[2022-05-05 15:47] jpg87Fr opened #1228 "Base planes used as Elements in Assembly 3 WB"
Hello,
it seems that the base planes used as Elements in Assembly 3 WB all 3 behave like XY in the "official" branch of FreeCAD, while this problem has been fixed for a while in Link Branch. Where can this come from ?

[2022-05-06 12:57] BeresfordRomeo commented on #1125
Hi @realthunder

I am so sorry I have not had the opportunity to give you more information on this. I will try to record a screencast when I can work out how, apologies for the delay.

[2022-05-06 14:21] luzpaz commented on #1125
@BeresfordRomeo  Can you also test with LinkDaily?

[2022-05-07 13:46] mwlandolsi opened #1229 "Pipe feature could not add an edges path while a binder is created"
Hello,
While creating a pipe feature using a sketch as profile and edges as path, a binder feature is created (supported by the first edge) and then it becomes impossible to select other edges to finish the full path.
[test pipe edge path.FCStd.zip](https://github.com/realthunder/FreeCAD_assembly3/files/8645271/test.pipe.edge.path.FCStd.zip)

OS: Ubuntu Core 20 (X-Cinnamon/cinnamon)
Word size of F

[2022-05-07 13:54] mwlandolsi opened #1230 "could not open files or folders from mounted disk"
When navigating to a mounted disc or device, then it is displayed empty
![Screenshot from 2022-05-07 14-49-59](https://user-images.githubusercontent.com/76944804/167257363-39f78ddf-f819-44c6-b311-2097a8158fda.png)
![Screenshot from 2022-05-07 14-49-30](https://user-images.githubusercontent.com/76944804/167257367-6eb3e375-3094-485d-a5ef-3b386d8edb4d.png)

OS: Ubuntu Core 20 (X-Cinnamon/cinnamon)
Wo

[2022-05-08 00:03] luzpaz commented on #1230
I can't tell if this is LinkStage3 or LinkDaily ?

[2022-05-10 11:21] ChellSol opened #1231 "Issues with daily ver 2022.04.30"
Hi

First let me say freecad is brilliant.
This is the first time posting so my apologies if I have posed in the wrong area.

I’ve been playing with daily ver 2022.04.30 and had the following issues.

•	Text in the tree view comb box does not show any text on open when text size is set to anything other than 0 In preferences, general, tree view, font size. Changing the text size fixes the combo bo

[2022-05-10 19:04] Glycocalix commented on #1128
OS: macOS 11.5
Word size of FreeCAD: 64-bit
Version: 2022.430.26244 +4758 (Git)
Build type: Release
Branch: LinkDaily
Hash: b024b876480a533018fdc702145e9e38f8c54ba6
Python version: 3.9.10
Qt version: 5.15.2
Coin version: 4.0.1
OCC version: 7.6.0
Locale: C/Default (C)

[2022-05-10 19:20] luzpaz commented on #1231
Welcome. Thanks for reporting.

First, please always post your full [About](https://wiki.freecad.org/About) info

Limit one bug or feature per ticket. More than that will quickly get lost.

Try to be as descriptive and illustrative as possible. Add screenshots of what you're referring to. When reporting issues, please try to think of the people that are reading the reports. Their time is important

[2022-05-11 08:24] hamza00789 commented on #1171
https://user-images.githubusercontent.com/92737149/167801816-95453990-29f5-4068-81bb-a56f0b524060.mp4

[2022-05-13 12:10] troetter commented on #1201
I did not notice until now that this issue had been transferred here. I see also that "due to overconstraining" has been added to the title. I still don't understand how I can be overconstraining when I'm trying to add the first constraint to the newly added part.

[2022-05-14 04:13] cadmarx commented on #1227
I am having the same issue on the below release. Any help is appreciated.

OS: macOS 12.3
Word size of FreeCAD: 64-bit
Version: 2022.407.26244 +4693 (Git)
Build type: Release
Branch: LinkDaily
Hash: 9610830a8fd492b3b3d96f8328507c80f1437cda
Python version: 3.9.10
Qt version: 5.15.2
Coin version: 4.0.1
OCC version: 7.6.0
Locale: C/Default (C)

[2022-05-14 04:36] cadmarx opened #1232 "Message to install Command Line Developer Tools"
Every time I open FreeCAD I get this message - to install command line developer tools. Screenshot attached. Should I install it?
<img width="483" alt="Screen Shot 2022-05-14 at 12 31 31 AM" src="https://user-images.githubusercontent.com/92646037/168410805-38ff3fa1-e1c2-46cf-8e20-b9f0a336ae4e.png">

[2022-05-14 13:05] ardugitter opened #1233 "Image workbench: SEGFAULT when simply doing "Create image plane...""
The title explains it. To reproduce, switch to Image workbench, click on the "Create image plane..." icon and load this image:
![problem](https://user-images.githubusercontent.com/73884126/168426941-02f6acda-0197-4f94-a870-22e59e981274.jpg)

A SEGFAULT will happen every time. Here is the console output:

[code]

Here is my system info:

[code]

Thank you!

[2022-05-14 13:13] realthunder commented on #1233
Can you please try [this](https://drive.google.com/file/d/16ZVb6toX4xG09SqQbWbjCM-3Pozo-xwv/view?usp=sharing) version?

[2022-05-14 16:04] luzpaz commented on #1232
The [Addon Manager](https://wiki.freecad.org/AddonManager) uses `git` so it makes sense to do so.  All the addons you can install are on github in this repo: https://github.com/FreeCAD/FreeCAD-addons/

[2022-05-14 16:04] #1232 closed

[2022-05-14 16:23] ardugitter commented on #1233
Unfortunately that crashes in the same way too.
[code]

[2022-05-15 12:51] realthunder commented on #1233
Can you please post here your user configurations, `Tools -> Edit parameters -> Export`.

[2022-05-15 19:00] ardugitter commented on #1233
Sure, here it is:

[params.log](https://github.com/realthunder/FreeCAD_assembly3/files/8695726/params.log)

I gave it a .log extension so it would upload. Thanks

[2022-05-15 21:05] cadmarx opened #1234 "Arch Window and Door Tools Not Working"
Arch Window and Door tools stopped working. Could anyone let me know what could be wrong? There is a window outline visible at the global origin (screenshot attached).

OS: macOS 12.3
Word size of FreeCAD: 64-bit
Version: 2022.407.26244 +4693 (Git)
Build type: Release
Branch: LinkDaily
Hash: 9610830a8fd492b3b3d96f8328507c80f1437cda
Python version: 3.9.10
Qt version: 5.15.2
Coin version: 4.0.1
OCC

[2022-05-15 21:13] cadmarx opened #1235 "Custom Work Plane Selection Not Working"
Custom work plane selection not working (screenshot attached).

OS: macOS 12.3
Word size of FreeCAD: 64-bit
Version: 2022.407.26244 +4693 (Git)
Build type: Release
Branch: LinkDaily
Hash: 9610830a8fd492b3b3d96f8328507c80f1437cda
Python version: 3.9.10
Qt version: 5.15.2
Coin version: 4.0.1
OCC version: 7.6.0
Locale: C/Default (C)

<img width="1556" alt="Screen Shot 2022-05-15 at 5 07 32 PM" src="h

[2022-05-16 03:02] realthunder commented on #1233
Still can't reproduce. Is it possible for you to install dbg symobl of `i965_dri.so`, and post the crash stack again?

[2022-05-16 03:10] realthunder commented on #1233
Don't know your Linux distro. Try search something like `mesa debug symbols`

[2022-05-16 20:35] bambukouk commented on #1234
This is not an assembly issue?

[2022-05-16 20:38] bambukouk commented on #1235
This is not an assembly issue?

[2022-05-16 20:39] bambukouk commented on #1231
This is not an assembly issue?

[2022-05-18 09:28] #1126 closed

[2022-05-25 01:36] automaton-v opened #1236 "The transparency impedes assembly when parts overlap due to selectability != visibility"
Toggling visibility doesn't hide the feature,, so you cannot select overlapping parts by making one invisible in the tree, which is a useful feature. So maybe a toggle to control behaviour of visibility: (or just change it I'm not sure of pros/cons here):  when visibility is changed in tree, the "invisible" part is now not selectable, allowing selection of parts "underneath"

[2022-05-25 07:53] Cobras62 opened #1237 "Problem with mesh generation in FEM workbench in Daily release"
Hello,
This is my first post on github, I hope this is the right procedure...
I have problem with daily version and FEM workshop. I searched before writing this post but without success...
On the daily version of 2022.04.30, in the FEM workbench, I can't manage to generate a mesh : FEMMeshNetgen and FEMMeshGmsh do not work.
No problem with the stable version.
Thanks for all the work you are doing!

[2022-05-25 13:31] jpg87Fr opened #1238 "Non-planar sweep sketches"
Hello,

after discovering the fantastic work of @ppemawm with version 0.20 of FreeCAD and Assembly 4 (https://forum.freecadweb.org/viewtopic.php?f=24&t=67784&sid=8a34d2ec409be9f1555fcf210a7f6ce6 ), I try to resume the project with FreeCAD LinkBranch to use another approach and try to stay in PartDesign, then do the assemblies with Assembly 3. Considering the amount of work involved, the project mi

[2022-05-26 12:59] NomAnor opened #1239 "Better GUI for fixing/changing elements"
I've read in the documentation that elements make it easier to fix an assembly if the underlying objects change.
It so happens that an element lost its linked object and I could not find a way to fix that element. I looked everywhere in the GUI but there was just no option.

After searching through the forum I finally found [this](https://forum.freecadweb.org/viewtopic.php?p=546977#p546977) post e

[2022-05-27 22:18] ardugitter commented on #1233
I will close the issue as I do not have access to the debug symbols.

I'd just like to add that I do not see this crash in the main branch of FreeCAD 0.19.3 so maybe we can just keep this problem in mind in case someone else sees it in the future.

Thanks.

[2022-05-27 22:18] #1233 closed

[2022-05-28 10:47] luzpaz commented on #1233
@ardugitter have you tried against [v0.20dev](https://github.com/FreeCAD/FreeCAD-Bundle/releases/tag/weekly-builds) ?

[2022-05-28 11:38] ardugitter commented on #1233
I just tried that and the crash does not occur with this either.

I have to use the RT branch though  to avoid TNP and because I love Assembly3.

[2022-05-29 10:52] wohltat commented on #783
Thanks, works nicely in [2022.04.30](https://github.com/realthunder/FreeCAD/releases/tag/2022.04.30-edge).

[2022-05-30 07:53] horfee opened #1240 "Quit menu item always disabled"
Hi,

Quit menu item from the "FreeCAD Link Daily" menu is always disabled, even if there are no file opened or created.
The shortcut ("Command+Q") is not working ; the only way to exit FreeCAD is to click on the red bubble on the top left corner of the window (this works fine).

I am running :
OS: macOS 12.3
Word size of FreeCAD: 64-bit
Version: 2022.407.26244 +4693 (Git)
Build type: Release
Branc

[2022-06-03 15:59] mjollnir14 opened #1241 "FreeCAD cannot access directories outside HOME"
Issue:
FreeCAD cannot access directories outside HOME

Not directly related to FreeCAD but to the current snap packaging

Workaround:
`sudo snap connect freecad-realthunder:removable-media`

Suggested solution:
Modify snap to allow usage of removable-media by default
https://askubuntu.com/a/964403

[2022-06-03 18:09] luzpaz commented on #1241
CC @ppd

[2022-06-04 08:48] snelweg opened #1242 "Image WB, crash"
When I try to use an image in the Image WB FreeCAD Linkstage crashes everytime. It works fine in 'official' 0.20

` ~/Downloads/FreeCAD-asm3-Daily-Conda-Py3-Qt5-20220430-glibc2.12-x86_64.AppImage
/tmp/.mount_FreeCAzCh8uD
FreeCAD 0.20, Libs: 2022.430R26244 +4758 (Git)
Sheet Metal workbench loaded
Assembly4 workbench (v0.11.12) loaded
Initializing Assembly4 workbench (v0.11.12) .....................

[2022-06-05 02:01] luzpaz commented on #1242
Side note: please use code tags when posting errors since hashtags + numbers will trigger an auto-linking to another github ticket.  I've modified the OP to fix that.

[2022-06-05 10:39] snelweg opened #1243 "[fixed] Appimage refuses to run, libGL error: MESA-LOADER: failed to open crocus: /usr/lib/dri/crocus dri.so: appimage Debian"
Works in 'official'  AppImages, only the LinkStage3 appimages do  not work on my machine. I am using Debian SID because I need to use LinuxCNC on this machine.

`$ Downloads/FreeCAD-asm3-Daily-Conda-Py3-Qt5-20220430-glibc2.12-x86_64.AppImage
/tmp/.mount_FreeCA3068yI
FreeCAD 0.20, Libs: 2022.430R26244 +4758 (Git)
Sheet Metal workbench loaded
Assembly4 workbench (v0.11.12) loaded
libGL error: MESA-L

[2022-06-05 16:29] kevenwyld commented on #1028
@luzpaz or @realthunder  would you mind moving this to https://github.com/realthunder/FreeCAD ?

Thanks in advance!

[2022-06-05 16:32] kevenwyld commented on #780
Closing, this doesn't seem to be an issue anymore in the latest snap version:

[code]

[2022-06-05 16:32] #780 closed

[2022-06-13 10:08] andyylin commented on #1227
I don't know why, but for some reason a full clean install allowed me to see the add-on manager, but now it's blank again. Unfortunately, it's been a while so hard to know what might have changed in between.

[2022-06-15 08:04] bambukouk opened #1245 "openning externally linked assembly documents in a containg folder"
In the past I could open any document in the folder of externally linked assemblies and all of them would open.

Now, for some reason? when I open sub_ass  document (externally linked to top level assembly document) only it opens and I have to open top level assembly document for all of them to open.

I have tested both with snap and appimage - same behaviour.
Is it an issue? or has something simp

[2022-06-15 19:51] goeland86 opened #1246 "Render WB incompatibilities"
I've been having a bit of a hard time getting my assembly rendered from within FreeCAD, using the Render WB.
My project (https://github.com/goeland86/MonsterKossel/) uses the Assembly3 and Fasteners WB to create the full project.

When I tried recently to render the final assembly in FreeCAD using the Render WB I found an issue that I traced to the Fasteners WB. This has since been fixed. (See for

[2022-06-15 20:11] goeland86 commented on #1246
The repo contains the render file with all the Assembly3 elements.
The file attached below produces the screenshot above, attached for reference (the dependencies on the files in the repo stays the same).
[Assembly-for-render.zip](https://github.com/realthunder/FreeCAD_assembly3/files/8912751/Assembly-for-render.zip)

[2022-06-16 06:50] realthunder commented on #1245
App::Link is directional. A document that contains an App::Link that links to an object in the external document will open the external document together with the main document. It does not work the other way round, meaning that the sub-assembly file is not supposed to open the main document. Unless, you have a malformed document structure that contains dependency loop, e.g. both document contain

[2022-06-16 06:54] bambukouk commented on #1245
Thank you for the explanation.
I will have to check why it was different sometime in the past :+1:
(guess my error...)

[2022-06-16 06:54] #1245 closed

[2022-06-16 15:11] luzpaz commented on #1245
@bambukouk where can we mention this in the documentation?

[2022-06-18 09:50] derMart opened #1247 "FreeCad 0.20 feature: Sketcher copy / paste (via xml) is not working in this fork"
Hey, it seems the very useful feature of generic copy paste sketcher geometries in between different sketches, even in between different instances of freecad (see here: https://www.youtube.com/watch?v=ZH432giUasM) is not working in this fork.
If I select a portion of a sketch inside sketcher, the Edit -> Copy menu is greyed out.

I am using FreeCad Link Branch daily snap package (Version 2022.617)

[2022-06-18 09:57] derMart commented on #1247
oh dear just realized this is not even merged in 'normal' FreeCad. This is very useful, so I would like to add this feature in this fork as feature request please!

[2022-06-18 10:58] luzpaz commented on #1247
You're referring to the open PR in upstream, right? https://github.com/FreeCAD/FreeCAD/pull/5480

[2022-06-23 13:33] ceremcem opened #1248 "My project is broken in the recent revision"
My project can not be properly opened in the recent version of LinkStage3.

# Attachment

Will be sent via FreeCAD forum DM.

# Working version

I used my FreeCAD backups and it's opened/working in the following version:

![image](https://user-images.githubusercontent.com/6639874/175309765-a7320664-3a2b-4579-b380-2a634bba0446.png)

[code]

# Version that fails to recompute

In the one previous bac

[2022-06-24 08:00] ceremcem commented on #1196
@luzpaz I didn't wery well understand the desired workflow. Are you suggesting we should open Assembly3_WB related issues here and LinkStage3 (FreeCAD itself) issues in the `realthunder/FreeCAD` repo?

If that's the case, I see a slight problem here. A single bug might be related both with LinkStage3 and Assembly3_WB or even with another WB (like SheetMetal, remember realthunder's commit to SheetM

[2022-06-24 11:14] luzpaz commented on #1196
The point is to start disentangling A3 from Link branch since A3 can run independently from Addon Manager in master. So yes, it's a bit messy but it's a start

[2022-06-30 02:29] luzpaz commented on #1248
@ceremcem ping

[2022-06-30 02:30] luzpaz commented on #1246
CC @howetuft just a heads up that this PR references Render WB

[2022-06-30 02:31] luzpaz commented on #1225
@Nemo-HelloWorld please test with v0.20 stable

[2022-06-30 02:37] luzpaz commented on #50
@ceremcem ping

[2022-06-30 09:57] luzpaz commented on #582
@sslupsky is this still a problem on latest Link or upstream stable ?

[2022-06-30 10:01] luzpaz commented on #722
Is there a way to modify built in mouse behavior to alter this phenomena?

[2022-06-30 10:04] luzpaz commented on #1009
@bambukouk is it OK to close this ?

[2022-06-30 10:06] bambukouk commented on #1009
sorry I thought it was closed?

[2022-06-30 10:06] #1009 closed

[2022-06-30 10:08] luzpaz commented on #431
Closing ticket

[2022-06-30 10:08] #431 closed

[2022-06-30 10:11] luzpaz commented on #513
@ceremcem is this still an issue?

[2022-06-30 23:27] #1241 closed

[2022-06-30 23:31] luzpaz commented on #404
@berkakinci ping

[2022-06-30 23:32] luzpaz commented on #568
Can someone confirm on realthunder edge snap ?

[2022-06-30 23:33] luzpaz commented on #1006
@MisterMakerNL is this still an issue?

[2022-07-01 03:11] Nemo-HelloWorld commented on #1225
Works fine in v0.20.

[2022-07-01 03:16] sslupsky commented on #582
@luzpaz I have not tried RT's fork in a while now.  Give me some time and I will download and test it again.  The FreeCAD 0.20 weekly from the upstream repo I have been running seems to be ok.  If I recall the build number it was 28909 or something close to that.

[2022-07-01 11:17] luzpaz commented on #582
@sslupsky can you try the Daily build when you do?

[2022-07-01 11:22] #1225 closed

[2022-07-01 11:26] luzpaz commented on #1055
@jx2014 ping

[2022-07-01 11:39] luzpaz commented on #279
@ceremcem can you revisit this ticket ?

[2022-07-01 11:40] luzpaz commented on #399
@realthunder do we need to keep this ticket open?

[2022-07-01 11:45] luzpaz commented on #500
@j-wiedemann can you retest on latest Daily (it uses OCC 7.6.2 AFAIU)

[2022-07-01 11:52] luzpaz commented on #1201
@troetter please open a thread on the [Freecad forum](https://forum.freecad.org/viewforum.php?f=20) asking for orientation around this.

[2022-07-01 12:17] berkakinci commented on #404
A lot of things have changed since the initial report, but the spirit of "worse than upstream" remains, albeit slightly.  I downloaded the latest versions to check and found the below.

Note: I no longer run the `codesign ...` line.

**RT FC Release:**
- Open Document dialog box shows user home directory contents (/Users/<username>)
- Open Document dialog does _not_ show contents of user subdirect

[2022-07-01 17:56] luzpaz commented on #1103
@not-a-number-dot-org is this still an issue on latest Daily ?

[2022-07-01 17:59] luzpaz commented on #155
@realthunder should we keep this ticket open?

[2022-07-01 18:13] luzpaz commented on #3
Looks like symoro isn't hacked on anymore @galou. Please advise?

[2022-07-01 19:01] J-Dunn commented on #155
Have you done anything to remedy the problem?

[2022-07-01 19:50] MisterMakerNL commented on #1006
I tested it again and it doesn't crash anymore.
I installed windows PowerToys that does stuff with the thumbnails, although it added support for svg and gcode. Maybe that fixed it?
Tested on
`[code]
OS: Windows 10 Version 2009
Word size of FreeCAD: 64-bit
Version: 0.20.29177 (Git)
Build type: Release
Branch: releases/FreeCAD-0-20
Hash: 68e337670e227889217652ddac593c93b5e8dc94
Python 3.8.10, Qt 5.1

[2022-07-01 19:50] #1006 closed

[2022-07-01 20:25] luzpaz commented on #727
@apper002 please follow up

[2022-07-02 08:08] ceremcem commented on #1248
Oh, my mails are accidentally silenced. I'm checking.

[2022-07-02 09:50] ceremcem commented on #1248
Nope, current LinkStage3 is not crashing but requires a recomputation which fails:

[code]

[code]

[2022-07-02 16:12] not-a-number-dot-org commented on #1103
Yes it looks like.
Here is a sub example with only the nut block and the screw if you're willing to test.
Sorry I wont have time to fully test it until end of July.

[test.FCStd.gz](https://github.com/realthunder/FreeCAD_assembly3/files/9033275/test.FCStd.gz)

[2022-07-03 10:28] realthunder commented on #1248
I've add a commit to make it improve handling of error on restoring element map. The error is caused by opening and recomputing the document in LinkDaily branch which uses a different format for storing element map. You've probably done it a few times in the past by mixing usage of this two branches. Even with this commit, when you open the document in LinkStage3 and recompute, you'll still give a

[2022-07-04 04:19] sslupsky commented on #582
@luzpaz I tried the Daily Big Sur and the Daily Conda (Apr 30, 2022 release) with success on both.

[2022-07-04 04:20] #582 closed

[2022-07-04 11:26] luzpaz commented on #1243
@realthunder this is the known issue with AppImage bundling deprecated `libstdc++.so.6`
Hey @looooo what's the workaround we use on upstream appimage for this?

[2022-07-04 12:20] looooo commented on #1243
I guess conda-forge updated the libraries which allow to use newer glibc version. I did not do anything in this regard :). There is also the other workaround, which I would like to add one day. (Can't find issue right now)

[2022-07-04 16:39] luzpaz commented on #1243
@Realthunder are you using the latest condaforge libs ?

[2022-07-04 19:44] luzpaz commented on #565
@realthunder according to the A3 package.xml file, the minimum version of upstream FC 0.19.0 is this correct? If so, lets add that as a prerquisite to the README.

[2022-07-04 19:45] luzpaz commented on #292
How do we re-word this ticket as a Feature request then?

[2022-07-04 19:46] luzpaz commented on #312
@tiket18 can you revisit this ticket ?

[2022-07-04 19:47] luzpaz commented on #607
Should we notate this somewhere ? Please advise

[2022-07-04 19:49] luzpaz commented on #496
@wohltat please revisit this ticket

[2022-07-04 19:49] #312 closed

[2022-07-05 08:56] snelweg commented on #607
What does that mean?

[2022-07-05 13:15] luzpaz commented on #607
Add this to documentation so users can be aware of this possibility.

[2022-07-07 02:26] realthunder commented on #1055
Can you please try the latest release? Also, make sure you've enabled `Auto solve` option.

![image](https://user-images.githubusercontent.com/1207888/177677153-a24e6650-6399-4a4f-8ec4-a057c68bba12.png)

Without auto solve option, you can also manually click `Solve` or `Quick solve` button.

![image](https://user-images.githubusercontent.com/1207888/177677196-2de9a5b4-7737-47f4-99e6-a8e10a277af5.p

[2022-07-07 04:41] QuakeString commented on #1008
Yes, it is solved.

[2022-07-07 04:41] #1008 closed

[2022-07-07 18:01] luzpaz commented on #593
@dgrabulosa can you still reproduce this problem on latest build ?

[2022-07-07 23:01] jx2014 commented on #1055
I verified it.
It is now working.
This ticket can be closed.

Thank you @realthunder

[code]

[2022-07-08 13:05] luzpaz commented on #1227
Specifically
[code]

[2022-07-09 07:26] m1pro opened #1249 "element axes rendered incorrectly when transformed"
OS: macOS 12.4
Word size of FreeCAD: 64-bit
Version: 0.20.31151 (Git)
Build type: Release
Branch: 2022.07.06-edge
Hash: 1dd47fd7ecdcd8d5f776ced0a702a7a7dc5d4ee5
Python version: 3.8.13
Qt version: 5.15.4
Coin version: 4.0.0
OCC version: 7.4.0

Element axes render issue when setting any offset. Only x-axis (red) if affected.
See e.g. setting z position value:

![reproduce](https://user-images.github

[2022-07-09 17:40] VoidVolker commented on #388
Similar issue when switching to Russian language:

<img width="308" title="Settings menu item when Russian language is selected" src="https://user-images.githubusercontent.com/5086438/178116813-3bc2eab3-cf67-43ed-a4ca-e033118b7a77.png">

<img width="719" title="Settings view when Russian language is selected" src="https://user-images.githubusercontent.com/5086438/178116819-41c7c37b-3356-44e4-8fc1-

[2022-07-11 15:10] smudge-smiff opened #1250 "Inconsistent Constraints declared seemingly at random, when no new constraints have been added."
Inconsistent Constraints are declared seemingly at random when no new constraints have been added. Saving and re-opening FreeCad Solves the issue

[2022-07-11 15:13] luzpaz commented on #1250
Missing Full [About](https://wiki.freecad.org/About) info. It would be also nice to see a gif/screencast of this in action.

[2022-07-11 15:34] smudge-smiff commented on #1250
Before:
![image](https://user-images.githubusercontent.com/8276783/178301443-db8c437d-b9a5-4242-b784-bec0aee1c5d4.png)
After Restart and Running Solve Constraints:
![image](https://user-images.githubusercontent.com/8276783/178301562-c88fb7e7-4fa0-49a6-91fc-78fe98956a1d.png)

[code]
OS: Windows 10 Version 2009
Word size of FreeCAD: 64-bit
Version: 0.20.29177 (Git)
Build type: Release
Branch: releas

[2022-07-11 19:39] luzpaz commented on #524
Is this still an issue?

[2022-07-11 19:40] luzpaz commented on #761
@IbnAlex please revisit this with the latest version

[2022-07-11 19:41] luzpaz commented on #768
@mwlandolsi can you revisit this and check if reproducible?

[2022-07-11 19:42] #747 closed

[2022-07-11 19:43] luzpaz commented on #320
Closing ticket as no response from @DaAwesomeP

[2022-07-11 19:43] #320 closed

[2022-07-11 19:44] luzpaz commented on #734
@parnasist3 is this still reproducible on latest version?

[2022-07-11 19:45] luzpaz commented on #741
@realthunder should we close ?

[2022-07-11 19:46] luzpaz commented on #1071
@realthunder thoughts on merge?

[2022-07-11 19:47] luzpaz commented on #456
Closing

[2022-07-11 19:47] #456 closed

[2022-07-11 19:49] #460 closed

[2022-07-11 19:51] luzpaz commented on #743
@mnswamp1 can you still recreate this on latest version?

[2022-07-12 08:56] Anool opened #1251 "Part Design"
Problem:
Using Part Design Workbench, create a simple rectangle sketch, with one edge aligned to base Z axis.
Apply REVOLUTION function along Base Z axis should result in a cylinder.

Result:
Causes an empty solid error (below). Tried LinkStage3 Stable as well as Daily, with same results.
[code]

Trying to exit the REVOLUTION mode results in
`
"gp_Dir::Crossed() - result vector has zero norm"
`

M

[2022-07-13 01:34] realthunder commented on #1071
It's a packaging issue. The user shouldn't be required to install the runtime. The missing DLL is bundled in later release.

[2022-07-13 01:34] #1071 closed

[2022-07-13 01:38] realthunder commented on #741
This problem is likely fixed [here](https://github.com/realthunder/coin/commit/41dd4382f6068dd824dd2f515b087bebeeeb066c).

[2022-07-13 01:38] #741 closed

[2022-07-14 10:29] ToniTen opened #1252 "[Feature Request] Add a "Package" functionality to make it easier to share files with others"
My current workflow for assemblies is:

1. Create the components, using Part Design or via importing step files, each in a separate file
2. Wrap each component in an Assembly3 container, and declare the "interface" via creating the elements needed to connect the part to other parts
3. Freeze each of these wrapper assemblies
4. Create first level sub assemblies where 2 or more parts are imported vi

[2022-07-15 04:13] realthunder commented on #1252
You don't need to unfreeze the assembly. Just right click the top document item in the tree view, and select 'Reload document'. This will cause all linked document to be reloaded in full.

[2022-07-15 13:16] ToniTen commented on #1252
Thanks! that makes things easier, but as I usually work with at least 5 levels of nested assemblies (and have in the past used over 20), I need to reload the document multiple times. Could it be possible to add a "reload document hierarchy" that recursively reloads everything?

[2022-07-16 10:15] not-a-number-dot-org opened #1253 "[Feature request] Add refine property at body level"
Hi!

Often, when I create a body, I set the refine property of the tip to true. As I'm an idiot and not particularly good at CAD, when I create a part, I sometimes forget some features. So I modify my part by adding several features and as usual, I often set the refine property of the tip to true. Of course I forgot that the refine property of the old tip is still set to true. And as I am able to

[2022-07-21 20:08] ckvsoft opened #1254 "Freecad up to 20220721 missing Icons in Snap"
Hi
![Screenshot_freecad](https://user-images.githubusercontent.com/16374447/180305719-dd329e89-7e47-4414-9adf-058ac4a5bd6a.png)

In the Freecad Stage 3 Link versions up to 2022.07.21 various icons are missing in the snap image. Could someone please fix this? See photo.
The options on the left don't work either. These are always grayed out

[2022-07-21 20:10] ckvsoft commented on #1254
![Screenshot_freecad2](https://user-images.githubusercontent.com/16374447/180306414-72baa0a9-b48d-45c9-aaa8-91ce7d2c93e4.png)

[2022-07-21 20:12] ckvsoft commented on #1254
![Screenshot_freecad3](https://user-images.githubusercontent.com/16374447/180306662-0516af80-3fff-4022-a832-c9212816b1dc.png)

[2022-07-23 08:53] LukaszMajchrzyk opened #1255 "Missing advanced TechDraw tools"
I'm using latest LinkDaily version (09072022) and advanced tools in TechDraw workbench (like hole table, ordinate dimensions etc) which have been recenty deployed in official branch are still missing. Is there any chance to add them to your branch? They are really mandatory in some cases.

[2022-07-24 04:05] luzpaz commented on #1255
Wrong place to post Link branch related ticket (per #1196)
You're looking for this https://github.com/realthunder/FreeCAD/issues/323

[2022-07-24 04:05] #1255 closed

[2022-07-24 13:47] wavexx opened #1257 "Deleting assembly leaves stray "Elements"/"Parts" nodes behind"
Deleting a whole assembly leaves stray "Elements"/"Parts" nodes behind.
Tested on current master (and current LinkDaily). To reproduce:

- Create a new file
- Switch to A3 WB
- Create new assembly
- Select the assembly root node
- Delete

Result:

![2022-07-24T154647](https://user-images.githubusercontent.com/1017726/180649976-17394fb9-a645-4e4d-a183-bad3659ab5c6.png)

[2022-07-24 14:28] wavexx commented on #1257
Verified fixed by https://github.com/realthunder/FreeCAD/commit/68c624e5418dd36d5a27b80f62d7f9728a76c682

[2022-07-24 14:28] #1257 closed

[2022-07-25 23:15] #499 closed

[2022-07-30 20:08] grtyvr opened #1258 "Dimensions stored in spreadsheet do not update unles you open the dialog and press cancel"
If you have dimensions in a spreadsheet, and update the dimensions in the spreadsheet the dimension will not update in the drawing unless you select the dimension for editing in the document, open the formula edition, press ok, and then press cancel on the dimension dialog.

[2022-07-30 23:03] luzpaz commented on #1258
Always post full [about](https://wiki.freecad.org/About) info please!

[2022-07-31 06:07] BePeMee commented on #270
I have a similar error when I try to apply a constraint.
![assemby3](https://user-images.githubusercontent.com/48593752/182012179-d4132c00-377c-48c0-b1d9-b65f1bd03834.png)
In the above example I have created 2 parts in part design workbench. Then I made a 3rd file in which I created the assembly. I have linked the bodies of the parts (As and pasgat) to the assembly file and put them in the "parts"

[2022-07-31 18:03] grtyvr commented on #1258
My bad.
-----------------8><---------------------------------------
OS: Ubuntu 20.04.4 LTS (ubuntu:GNOME/ubuntu)
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 2022.111.28429 (Git) AppImage
Build type: Release
Branch: LinkStage3
Hash: ec814c42d02f15171f9dbb7f650400c9943abfe0
Python version: 3.9.9
Qt version: 5.12.9
Coin version: 4.0.1
OCC version: 7.5.3
Locale: English/Canada (en_CA

[2022-07-31 19:42] luzpaz commented on #1258
@oficinerobotica do you mind confirming the bug report ?

[2022-07-31 19:46] grtyvr commented on #1258
I have been doing more testing.  It does not always happen.  I am trying to find a set of reproducible steps.

[2022-08-01 07:33] realthunder commented on #1258
@grtyvr Please test using the latest 0709 release.

[2022-08-01 19:38] grtyvr commented on #1258
0709 release.  Steps to reproduce.

Create new document: doc_1.
Create new body.
Create sketch.
Add spreadsheet
Enter dim. in spreadsheet and give it an alias: alias_1

Open new document: doc_2.
Create new body.
Create new sketch
Assign dimension from spreadsheet in other document using <<doc_1>>#Spreadsheet.alias_1

If you change the value in the spreadsheet you will have to open the formula edit

[2022-08-03 23:05] mwlandolsi commented on #1243
After changing from mint 20 to mint 21 The older versions of FreeCAD linkstage could not be launched. The last version, Appimage 09-07-2022 can start, but the start page is blank. You know, there are many works made with older versions that may cause errors in newer version. So I keep older versions of Freecad to be able to open, eventually, my old files.
OS: Linux Mint 21 (X-Cinnamon/cinnamon)
Wo

[2022-08-04 06:18] grtyvr commented on #1258
Might be related but in the pad dialog if you reference a dimension in another document then you have to delete the formula and re-enter it for the new dimension to be used.

[2022-08-04 10:30] ToniTen commented on #1252
I saw that you added the "Reload all documents" functionality to Link branch ([commit](https://github.com/realthunder/FreeCAD/commit/4df02e3a1886418d25be34ed5eae3a9597296248)) . Thanks a lot. That's exactly what I need. Could you send send a pull request so this eventually lands upstream?

[2022-08-06 15:09] not-a-number-dot-org commented on #1103
Just installed 2022.709

from angle 0° to 80° with 10° stepping : it works (<<vis sans fin>>.Placement.Angle is 80°)
back from 80° to 0° in one step : doesn't work (<<vis sans fin>>.Placement.Angle is set to 90° instead of 0°)

[2022-08-07 12:05] realthunder commented on #1103
With current implementation of the SolveSpace solver, this is an expected behavior. To work around angle ambiguity problem, use `Attachment` constraint whenever possible. You can change the angle by changing the `Offset` property of any of the `ElementLink` grouped under the `Attachment` constraint.

[2022-08-10 09:20] dbozec opened #1259 "GPU hang while editing a sketch"
I happened to me several time in the last few days.
While editing a sketch I suddenly get a black screen, and the only way to get something back is to reboot my computer.
Here are details from FreeCad about form :
[code]

Here are logs from /var/log/syslog :
[code]

[2022-08-10 13:18] luzpaz commented on #917
Please do not post features requests from proprietary software. That's a no-brainer

[2022-08-10 13:18] #917 closed

[2022-08-11 17:54] dbozec commented on #1259
Happened again few minutes ago.
I'm switching back to FreeCAD-asm3-Stable-Conda-Py3-Qt5-20220430-glibc2.12-x86_64.AppImage

[2022-08-12 04:35] not-a-number-dot-org opened #1260 "Assembly constraints do not apply to sketch-based bodies ?"
The attached file is a continuation of the file used in https://github.com/realthunder/FreeCAD/issues/526#issue-1330805519 and the problem could be related.

So now I have grooves that will allow me to create two horns and two mazes. At first, to create the panels of these two elements I used the grooves on the side of the loudspeaker as a pattern and the assembly of the panels worked well. But I

[2022-08-12 12:25] luzpaz commented on #1259
Can you reproduce on the Daily branch ?

[2022-08-12 18:48] dbozec commented on #1259
Yes, happened again :
[code]
[code]

[2022-08-13 11:51] luzpaz commented on #894
@hamza00789 please remove proprietary references in the FR

[2022-08-14 15:09] not-a-number-dot-org opened #1261 "Hidding bodies is not working within assemblies"
'visiblity' property set to false/true/expression is working on bodies outside of assemblies. But if the body is part of an assembly it doesn't work.

OS: Windows 10 Version 2009
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 2022.709.28846 (Git)
Build type: Release
Branch: LinkStage3
Hash: c880c050c5f7601e4bae6740de71500edf2be0c7
Python version: 3.8.6+
Qt version: 5.15.2
Coin versi

[2022-08-18 08:12] ceremcem commented on #1248
Hi, sorry for the late response. I've been struggling with the PCB prototype and the application code, so my context switch took that long. Now I'm back to the PCB design, hence 3D drawing.

If I understand correctly, we are not supposed to open our projects with older versions of FreeCAD. If we switched to LinkDaily, then we could only switch back to LinkStage3 on the next release. Is that correc

[2022-08-18 08:12] #1248 closed

[2022-08-18 09:19] ceremcem opened #1262 "Can not compile LinkDaily branch"
Compilation with the following command:

[code]

throws the following error:

[code]

Branch: LinkDaily, commit: https://github.com/realthunder/FreeCAD/commit/c205116fe6a98d5af0262a5a0116544b742d4658

[2022-08-19 05:35] realthunder commented on #1248
`LinkDaily` is the current development branch. I back ports some fixes and minor new features to `LinkStage3` on each release. In other words, there are features in `LinkDaily` but not in `LinkStage3`. So it is not safe to switch from `LinkDaily` back to `LinkStage3`.

[2022-08-19 08:30] ceremcem opened #1263 "How to easily remove a part and its dependent elements?"
When we delete a part, its elements and the constraints that use those elements still kept. This is good if we are going to replace that part with another part, but it gets a time consuming task if we just want to get rid of that part forever. This is because we have to delete the elements created from that part and the constraints which use those deleted elements. Wouldn't it be nice to have a "D

[2022-08-19 13:17] realthunder commented on #1261
The visibility of the a child object in the `Parts` group is controlled by the `Parts.VisibilityList` property. You can use the `setElementVisible()` API to control the child visibility, e.g. `Parts.setElementVisible('ChildObjectName', False)`.

[2022-08-19 13:27] realthunder commented on #1259
Probably a graphics driver bug. Just a wild guess, https://bugs.mageia.org/show_bug.cgi?id=27159

[2022-08-19 14:06] dbozec commented on #1259
I just updated my Ubuntu to 22.04, will see if it happens again

[2022-08-21 06:52] not-a-number-dot-org commented on #1261
In the view tab there is a "visibility" property for assemblies which is only visible if the display of all properties has been requested.
Wouldn't it be a good idea to make this property visible by default?
I still hope to be able to create conditional assemblies (see #967).
We can now suppress features and associated elements, and disable constraints. Looks like hiding elements that are not requ

[2022-08-21 13:08] realthunder commented on #1261
Expression engine should be able to do what you requested here. It would be better to post an example assembly here for further discussion.

[2022-08-22 12:06] ceremcem commented on #1250
Thank you @smudge-smiff, your "workaround" helped me.

Yes, I can confirm that if there is an "inconsistent constraints" error which shouldn't be, then closing the application an re-opening it makes the error vanish.

[code]

[2022-08-22 14:56] ceremcem opened #1264 "Constraint error is not clear"
I removed an object and its elements/constraints as far as I could. After many successful progress on my model, there is suddenly a "constraint related" error, which is unclear to me:

[code]

There is no error icon in front of any of the constraints. How can I detect where the erroneous constraint (if there is any)?

[2022-08-23 06:33] ceremcem commented on #1264
I disabled the constraints one by one and the error is resolved. Apparently the erroneous constraints/elements are not shown correctly.

(I'm sending my model privately. You'll see the error when you open the project. See that `_Element033` is a broken element inside `PlaneAlignment013`.

Also `PlaneAlignment014` is erroneous. When you disable ..13 and ..14, solver "compiles" correctly. If you ena

[2022-08-23 08:13] ceremcem commented on #1250
A similar case:

1. Create a fully normal assembly.
2. Try to move a fully constraint part.
3. FreeCAD will eventually throw "inconsistent constraints" error
4. Disable some of the constraints (related to your part or not)
5. The error will vanish
6. Enable the constraint that you previously disabled
7. There are still no errors.

[2022-08-23 09:15] gryphonB-2 opened #1265 "Request, more of a beg, really: Remove unnecessary ToolTips"
Hi, I have a part with about 20 features, which I'm reworking ( we know what that means, (cough) Topo)
So I use the mouse to keep place as I work the Tree. Then a ToolTip hides it, telling me that the pocket is a pocket. Which, surprise, I knew.

IOW they just get in the way, all the time. (In Other Words)

OTOH, when I'm deciphering toolbar buttons the tooltips are invaluable. For gods sake, keep

[2022-08-23 13:50] luzpaz commented on #1265
Maybe: 'Ability to disable tooltips' would be a more neutral request and meet needs of those that are still learning ?

[2022-08-23 14:44] ceremcem opened #1266 "Can we not use the constraints at all? (Manual assembly)"
@realthunder, I think we need a solid (I mean, really solid) way to assemble things when we are working in a real design (in a time constraint environment) in order to use as a fail safe procedure. Rationale for this proposal is that the solver (Solvespace in this case) can generate very weird results in unexpected moments. I've spent 2 days for very basic tasks because of those solver errors.

I'

[2022-08-23 18:38] ceremcem opened #1267 "How do we group objects to move/rotate them altogether?"
Related to #1266, how do we select some parts (objects, items) and group them in order to change their position/rotation altogether?

[2022-08-24 09:17] ceremcem opened #1268 "Relations cache does not update"
I expect the "Relations" cache (under Assembly Container) update when I delete relations and parts.

When a part is deleted which has some relations, Relations cache does not update and shows an error about not being able to find the elements.

# Reproduction

Please use the latest drawing that I sent you privately.
1. Remove all relations
2. Remove all elements
3. See that Relations cache does no

[2022-08-24 09:47] ceremcem opened #1269 "Escape button behavior is wrong"
Escape button should cancel the last operation.
* When you are moving a part, pressing `Esc` should revert the position back to the beginning of the movement.
* If there is a dialog box that asks something (for example, deleting a part), pressing `Esc` should cancel the operation.

[2022-08-24 10:20] ceremcem opened #1270 "Unexpected element in the treeview"
After deleting all constraints and elements, I noticed the following "Constraint" in the treeview:

![image](https://user-images.githubusercontent.com/6639874/186394144-c08bf59a-7ff5-4d34-a3e2-30b3588b1c8e.png)

# Version

[code]

# Attachment
20220824T1219-relation-remnant-exists.zip is sent privately

[2022-08-24 12:26] ceremcem opened #1271 "We need a helper plane tool for centering parts only vertically in between two points"
![image](https://user-images.githubusercontent.com/6639874/186407170-799dba3d-6148-4924-aabd-3cf5396faaf9.png)

Here I want to create a constraint that will make `d1` and `d2` equal, while letting me move this part freely in "up/down" direction.

This is the same requirement we discussed in #53. We need a convenient way to achieve this kind of positioning tasks.

My proposal is having a tool that

[2022-08-26 04:36] not-a-number-dot-org commented on #1270
Similar problem here.
When I delete a body, the Origin is left in the tree as a toplevel item.
When I delete an assembly, Constraints, Elements and Parts are left in the tree as toplevel items.
![1270](https://user-images.githubusercontent.com/16313259/186823000-cc9e4d27-4d45-42e4-b3df-5c0408d22655.PNG)

OS: Windows 10 Version 2009
Word size of FreeCAD: 64-bit
Version: 2022.709.26244 +5001 (Git)
B

[2022-08-27 07:47] jpg87Fr commented on #1271
I would declare the socket's symmetry plane as an element, then put a symmetry constraint between a and b with respect to that plane.

[2022-08-27 09:03] not-a-number-dot-org commented on #1261
Here is an example.
Body data property Visibility is set to an expression that resolve to false.
When the Body is added to an assembly, it becomes visible even if Visibility is still false.

Maybe Visibility property is not the right property I need for conditional assembly.
I guess I'm rather looking for a Suppress property at Body level or even better at Assembly level.

Something that would all

[2022-08-28 17:37] Huwyler commented on #743
I hope you don't mind if I answer this: Not exactly the same use-case, but also in path::pocket, also
"class 'AttributeError'>: 'PySide2.QtWidgets.QWidget' object has no attribute 'enableExtensionsWarning'

Full trace:
  File "/tmp/.mount_FreeCAYLstxT/usr/Mod/Path/PathScripts/PathOpGui.py", line 104, in setEdit
    self.setupTaskPanel(TaskPanel(vobj.Object, self.deleteObjectsOnReject(), page, sele

[2022-08-28 17:44] luzpaz commented on #743
Can you produce with LinkDaily?

[2022-08-28 17:47] not-a-number-dot-org commented on #1261
Well... it doesn't work at all.
I have my [model](https://forum.freecadweb.org/viewtopic.php?f=24&t=71459) done.
I have two variables in a spreadsheet to configure the built; one for the external veneers and one for the internal. Suppress/modifications of features/constraints based on the variables works fine but I can't find a way to hide the veneers not needed.
Either setting Assembly Data->Visi

[2022-08-28 20:55] Huwyler commented on #743
Nope, with Daily, it works fine.

OS: Ubuntu 21.04 (ubuntu:GNOME/ubuntu)
Word size of FreeCAD: 64-bit
Version: 2022.709.26244 +5001 (Git) AppImage
Build type: Release
Branch: LinkDaily
Hash: 096210d21183e9dfdc3b25777760bfb6c00a210b
Python version: 3.9.13
Qt version: 5.12.9
Coin version: 4.0.1
OCC version: 7.5.3
Locale: English/United States (en_US)

[2022-08-28 21:52] luzpaz commented on #743
@realthunder consider backporting the fix to LS3 ?

[2022-08-29 06:16] ceremcem commented on #1271
@jpg87Fr Yes, that would solve the problem but you have to define a symmetry plane for every part. It would be the same or more burden for the parts we just download from manufacturer and import into the model (the STL files). This may also be preferred, it's just another approach.

[2022-08-29 11:04] Anvolne opened #1272 "Main assembly loses all linked sub-assembly DoF"
Originally I was trying to CAD my CNC Router table, but when I tried to assemble together the sub-assemblies, I realized I can no longer move any part of the mechanics, because it moves the whole main assembly.

I created a minimal reconstruction of that CAD file with a single linear movement element.
The following axisAlignment should have 1 degrees of freedom available, but when I click solve, i

[2022-08-29 19:01] Anvolne commented on #1272
It does the exact same on LinkDaily
also, I found out the About->Copy to clipboard button lies
these are the real specs:

OS: Windows 11 Version 21H2 64bit
Version: FreeCAD-asm3-Daily-Win64-Py3-Qt5-20220709.7z from [FreeCAD](https://github.com/realthunder/FreeCAD)

[2022-08-31 14:42] Nokse22 commented on #879
Same thing happens in linux

[2022-09-01 22:56] #1272 closed

[2022-09-02 18:25] MatthiasWM commented on #685
This must be the best hidden description for one of the most essential features of a parametric CAD system. Thanks for taking the time to implement. The missing automatic update is bearable, but the feature itself is grandios!

[2022-09-06 17:09] psommerfeld opened #1273 "Is there/will there be a native Mac M1 build?"
Mac M1 has nice enhancements with SIMD acceleration.
I see the FC build is an Intel build. How much work is there to have an M1 native build? This would require OCCT (and others?) to built for M1 which seems supported.
I've noticed helical paths are very slow to draw in FC on my M1 and the hope is for native M1 compilation, but also to implement M1 specific SIMD operations.

[2022-09-12 07:01] ThickBunBun opened #1274 "Blank workbench window"
Manjaro 5.15

![blank](https://user-images.githubusercontent.com/81237388/189592175-23e9d604-cfc8-475b-ad87-2f292dde2678.png)

[2022-09-12 12:55] luzpaz commented on #1274
Doesn't help without a full [About](https://wiki.freecad.org/About) info

[2022-09-19 16:34] #1274 closed

[2022-09-20 07:35] galou commented on #3
Unfortunately time is missing. I don't have the permissions to edit the repo, which also doesn't help.

[2022-09-23 22:03] alxprod opened #1275 "how to use the "." on the numeric keypad without changing the system language?"
for the ergonomics I think it would be easier when you write the values in the sketcher

[2022-10-04 07:47] bambukouk opened #1276 "create new assembly command crashes FreeCAD (in snap version)"
As per title - when using snap version, create new assembly command crashes FreeCAD.
[code]
When trying the same in appimage - no problem...?
I know it is an old one (I seldom use appimage nowadays)
If needed I will download latest appimage to test.

[code]

For now I am using old appimage to add new assembly and going back to snap to continue work... :-1:

[2022-10-04 19:05] Nemesis81 commented on #1228
@realthunder I can confirm the issue recently
https://forum.freecadweb.org/viewtopic.php?f=20&t=72256&p=630621#p630621

[2022-10-07 14:27] ardugitter opened #1277 "Crash caused by selecting a face for the first transform (a mirror in this case) of a multi-transform"
I am trying to mirror a part in 2 directions, one after the other. In attempting the first mirror transform, FreeCAD crashes if you select this face as the one to mirror about:

![Corners](https://user-images.githubusercontent.com/73884126/194577366-50029217-7957-4905-a780-55a8ed6c82c2.png)

This is the file in question:

[Corner protectors.FCStd.zip](https://github.com/realthunder/FreeCAD_assembl

[2022-10-09 14:21] Piezoid commented on #1173
I have the same issue on Arch Linux with `freecad-linkstage3-git` built from AUR. Both the overlays transparency and file dialog icons are missing.

It does indeed look like an interaction with KDE session settings: doing `unset XDG_CURRENT_DESKTOP KDE_FULL_SESSION` fixed it.

<details>
<summary>ldd output on my system:</summary>

[code]
</details>

I'm not using Wayland.

[2022-10-11 00:26] Erhannis opened #1278 ""Infinite shape provided""
Not sure whether to ask about this on the forum or here, but it seems more polite to start here than ask about a fork on the main forum.
Here's a file.
[staple_bracket.zip](https://github.com/realthunder/FreeCAD_assembly3/files/9749959/staple_bracket.zip)
I tried to create a pretty simple shape - made a new file, part, body, sketch, and a polyline in a wall bracket shape.  Added constraints.  Left

[2022-10-11 00:31] Erhannis commented on #1278
I tried doing approximately the same thing again, and it worked fine.  I remember originally trying some constraints that didn't do what I expected, and removed them.

[2022-10-12 00:17] realthunder commented on #1278
The message is caused by invalid selection of the sketch attachment selection. Maybe you accidentally changed it. Just right click the sketch, and choose `Attachment` to manually correct it.

[2022-10-12 17:00] Erhannis commented on #1278
That seems to have done it; thanks.  I went through several weird states but by comparing with a good version, managed to get it back to correct.  (I also somehow had the sketch in construction mode.)  Thanks!

[2022-10-12 17:00] #1278 closed

[2022-10-16 08:08] kevenwyld opened #1279 "Trouble using the multiply constraint feature"
In this project (zipped with multiple files) [amplifier_box.zip](https://github.com/realthunder/FreeCAD_assembly3/files/9793885/amplifier_box.zip) I am unable to use the multiply constraint feature on the set of M3x12 screws which attach the lid.  I am however able to use it on the m3x12 screws which attach the fan.  These operations seem basically identical although they apply to different parts.

[2022-10-17 21:07] Fluppi86 opened #1280 "Problem with recalculating the pipe after a dependency change with an intersection curve"
Hi
I have now constructed a larger part at Freecad, I have a problem with the "Pipe" function.
I am no longer sure whether this is done at all.
Basically I am quite new to Freecad. I put my sketches on DatumPlane and try to "feed" the others with a couple of sketches. Here it is still quite confusing and I have tried a lot or always adapted and changed, so that you could do it with more structure.

[2022-10-17 22:32] ThirteenPeeps commented on #778
I can't believe there aren't more complaints about this.

I literally don't understand how anybody is able to use with workbench without flipping tables in frustration trying to read the mind of the solver about DOF. If I'm supposed to just "keep track" of which DOF exist for every element in an assembly, then I'm never using this workbench, because if I want to make an assembly, I probably alread

[2022-10-22 18:22] gneiss15 opened #1281 "missing color preferences"
I foud this branch via:
Design a Rasberry Pi case for 3d printing tutorial using FreeCAD LinkStage3 [https://www.youtube.com/watch?v=OWNrYvxpG4k]
[https://www.youtube.com/watch?v=OWNrYvxpG4k](url)

[2022-10-23 04:44] realthunder commented on #1281
Your quoted link on interface customization is a bit outdated. You can still follow it, but there is much easier way to switch UI, through `Tools -> Preset configurations`. The most up-to-date tutorial video I can find is [here](https://youtu.be/i-Dh6zC7DlI).

Also, new version of my build is released [here](https://github.com/realthunder/FreeCAD/releases). I encourage you to download `Daily` buil

[2022-10-23 12:55] gneiss15 commented on #1281
Thanks for Your explanations.
Especialy for the locations to change the colors...
I will watch the new customization video ASAP.

That's the one I already use (since yesterday ;-)

Maybe You can explain me someting that I don't understand and didn't find any explanation via web-search:
When customizing keyboard there is a "Shortcut priority list".
What's this ?
What happens if more than one action

[2022-10-23 14:20] realthunder commented on #1281
Thanks for the heads up for the typo.

The common case of assigning the same shortcut to different commands is when those commands appear in different workbench, which means they won't appear at the same time. Just think of those toolbar buttons,. When you switch workbench, some toolbars are hidden, while some are shown.

In case those commands with the same shortcut do appear at the same time, th

[2022-10-23 17:47] gneiss15 commented on #1281
Ah, OK, so it works as expected (same key different WB)..
If You use the same key inside the same WB (or Global) the second prio one would never be executet, right ?
I hope I get time tomorro for watching the video & checking the colors.. I will report back if something ist still missing/unclear.

Thanks for being very helpy

[2022-10-24 09:16] CBtiger opened #1282 "Make Assembly3 install py_slvs via the modernized Addon Manager"
Not sure yet what the problem is. As reported on the Freecad issues [https://github.com/FreeCAD/FreeCAD-Bundle/issues/139], the Asm3 update failed in my working setup and a new fresh setup on Ubuntu 18.04.
Asm3 version is 0.11.3

I tried with both builds with clean user settings to install Asm3 via AddOnManager. Both times Asm3 installed but did not work.
FreeCAD_0.21.29457-2022-10-22-conda-Linux-

[2022-10-24 10:12] gneiss15 commented on #1281
I just read Your prev answer in more detail...
You mentioned how to change the **text color** of the Python console, but not how to change the **background** color(s) (of all the bottom windows).
The problem is, that with the given sytles yellow or red text colors (with are good for warnings / error) look bad in a "dark-blue" background.

[2022-10-24 10:22] CBtiger commented on #1282
AddonInfo: I suspeced the problem might have to do with  _py_slvs_. The AddOn Manager installed the _py_slvs_ package into the following path
[code]
In the Python Console in FreeCAD  "import slvs" failed, but "from py_slvs import slvs" worked.

After I copied the above files to the asm3 folder as below (from the info about manual install). Now the "import slvs" worked as well the Python Console.
[

[2022-10-25 08:04] realthunder commented on #1282
How did you install it twice?

Where did you get this path? FreeCAD AppImage uses newer Python, so it most definitely will not use this path.

After some digging, I found out that the new AddonManager installs the dependency in `.local/share/FreeCAD/AdditionalPythonPackages` which may cause problem if you are alternating AppImages that pack  different version of Python, because `py_slvs` is a nati

[2022-10-25 09:29] CBtiger commented on #1282
I installed it with AppManager, but got no python prompt. Then I uninstalled it and installed it again. Then I got the AddOnManager's pyhton install prompt and installed that too.

I found the path on my computer. But you are right, there is also a Python3.10 path beside it: `  ~/.local/lib/python3.10/site-packages/py_slvs ~/`. So I have two paths, I guess from different Asm3 versions.

That the p

[2022-10-25 14:03] realthunder commented on #1282
Can you restart FreeCAD, and try again? When you see this `Failed` dailog but the report view shows success, just restart FreeCAD and see if it works.

[2022-10-25 14:21] mgth commented on #1264
Had the same problem, In my assembly, first part was fixed, then five parts plane aligned, averything was ok.
But adding a sixth I had the same error without adding any constraint.
And removing the part did not fix it.
But disabling the fixed constraint resolved the problem.
I thought it was good practice to have at least one part fixed.

[2022-10-25 14:29] CBtiger commented on #1282
Nope, after Restart still the same situation.

`16:25:55  1.015991 <asm3.sys> solver.py(412): no assembly found`

Not sure if relevant, but I noted the following from the console. So the lib seems to be  there.
[code]

[2022-10-26 02:05] realthunder commented on #1282
It is probably already working. The module is named `py_slvs`, so if `import py_slvs` works then it should be ok. You didn't see the `no solver found` warning right? Try create a new assembly and see. You're probably trying an assembly saved when there was no solver. If so, you'll need to manually set the `Assembly.SolverType` property to `SolveSpace`.

[2022-10-26 07:57] eefweenink opened #1283 "M key on polyline tool not working"
After installing and using touchpad (on macbook) the polyline (part design) does not react as exspected. Nothing happens when clicking the M.

Any solutions, workaround?

Regards, Eef

[2022-10-26 08:25] eefweenink commented on #1283
NB : I could solve it this way, but don't know if this effects other stuff.
Tools -> Customize -> Keyboard -> search for polyline
set shortcut to m

[2022-10-26 09:41] realthunder commented on #1283
You solution is the correct thing to do as the upstream Sketcher workbench has changed default 'm' shortcut along with many other commands.

[2022-10-26 09:48] CBtiger commented on #1282
Excellent. That worked.
The Assemly/ Property SolverType=None also caused the missing Icon in the Tree. After selecting the only option "SolverSpace" the icon was back
I was not aware that the file saves the solver type. I will note that behaviour for the message "no assembly found".

Maybe its an idea to improve the error message "no assembly found" -> "no assembly found or no solver type set." w

[2022-10-26 12:01] luzpaz commented on #1282
Maybe we need to rename ticket to "Make Assembly3 install `py_slvs` via the modernized Addon Manager"

[2022-10-26 12:39] CBtiger commented on #1282
done

[2022-10-27 03:17] GKSeifert opened #1284 "Polilyne in sketch no cycle behaviour with m key."
Freecad Link Branch
2022.1026
Rev number 14555 (Got shallow)
Operating system Ubuntu Core 20
Word size 65 bit
Branch   (HEAD detached at 2022.10.26-edge)
Installed via SNAP

M does not (alone) resulting the required cyclic behavior.  GM does initiate polyline so the shortcut has not been changed. GM will result in the cyclic behavior but that is NOT the way it is supposed to work and is not an acc

[2022-10-27 04:10] realthunder commented on #1284
The decision of changing the default shortcuts is made by the developers of Sketcher workbench.

[2022-10-28 03:06] GKSeifert commented on #1284
In spite of hundreds of tutorials, books, videos and so on that lead one to expect M alone to result in the cyclic action? I don't believe the shortcut has been changed. Freecad 20.1 on Linux, both flatpak and appimage do work as documented. M alone works. The same Sketcher I would think.

[2022-10-28 04:32] GKSeifert commented on #1284
I just noticed #1283. I decided to try changing the default shortcut (G,M) to M. Tools, Customise, Keyboard, Category shows no Category for Sketcher at all. Searching for any of the commands I find in Freecad 20.1's Keyboard Customization, under Sketcher, is unsuccessful. It seems all of the Sketcher shortcuts have gotten lost, at least partially. G,M does initiate the polyline tool, and also in t

[2022-10-28 05:38] GKSeifert commented on #1284
Ha! That didn't take long. Restarted it and it came up with today's date, and all the Sketcher shortcuts in Keyboard Customization too.  M now works after changing the shortcut. Works for me. Thanks!

[2022-10-28 11:19] abetis opened #1285 "Moving parts is very slow, adding more parts makes it exponentially slower"
Hi,

I started working on an assembly, added only 21 parts, all with attachment constraints except 1 part that have 1 axis of freedom for movement (sliding on another part).
All parts are imported from STEP files.

Moving the part that should slide to see how the constraints work refreshes the screen VERY slow, close to the unusable area.
Was about to blame the solver for the slowness.
Disabled so

[2022-10-29 07:15] abetis commented on #1285
Attaching tested assembly. Try to move the top carret.
[Asm3-TimingTest.zip](https://github.com/realthunder/FreeCAD_assembly3/files/9893189/Asm3-TimingTest.zip)

[2022-10-29 16:06] abetis commented on #1285
More info added.
https://forum.freecadweb.org/viewtopic.php?f=20&t=72904&p=637066#p637066

Right now moving/recomputing a newly added link takes more than 10 seconds :(

[2022-10-30 15:53] CBtiger commented on #1282
opened a ticket to remove the AddOnManager install fuction for py-slvs

[2022-10-30 15:53] #1282 closed

[2022-10-30 18:52] abetis opened #1286 "Cannot create new element in frozen assembly"
RuntimeError: Cannot create new element in frozen assembly

Flow:
Create an assembly, add link to a sub-assembly.
Freeze the sub-assembly.
There is a need to add another link of the same sub-assembly to the main assembly.
You'll get the RuntimeError: Cannot create new element in frozen assembly

Need to open the sub-assembly file, unfreeze it and only then could add the link to the sub-assembly.

[2022-10-31 08:18] AlexStankov opened #1287 "Sometimes FreeCAD makes wrong intersecting geometry in PartDesign workbench"
OS: Ubuntu 20.04.5 LTS (ubuntu:GNOME/ubuntu)
Word size of FreeCAD: 64-bit
Version: 2022.709.26244 +5001 (Git) AppImage
Build type: Release
Branch: LinkDaily
Hash: 096210d21183e9dfdc3b25777760bfb6c00a210b
Python version: 3.9.13
Qt version: 5.12.9
Coin version: 4.0.1
OCC version: 7.5.3
Locale: English/United States (en_US)

Steps to reproduce:
1. Extrude cylinder in part design workbench:
![image](h

[2022-10-31 08:20] AlexStankov commented on #1287
Project source:
[hanger1.zip](https://github.com/realthunder/FreeCAD_assembly3/files/9899315/hanger1.zip)

[2022-10-31 08:22] AlexStankov commented on #1287
OS: Ubuntu 20.04.5 LTS (ubuntu:GNOME/ubuntu)
Word size of FreeCAD: 64-bit
Version: 2022.1021.26244 +5249 (Git) AppImage
Build type: Release
Branch: LinkDaily
Hash: d307b5c936403e8dca3f24b5c1e64bd16c88b28d
Python version: 3.9.13
Qt version: 5.12.9
Coin version: 4.0.1
OCC version: 7.5.3
Locale: English/United States (en_US)

With latest release result is the same:
![image](https://user-images.github

[2022-10-31 14:06] realthunder commented on #1287
That's strange. I can't reproduce the problem using the exact same AppImage? Just right click the second Pad, and choose 'Recompute' gives the correct output. Can you please post your settings here, `Tools -> Edit parameters -> Export`.

[2022-10-31 17:14] AlexStankov commented on #1287
Here is the settings export:
[FreeCADSettings.zip](https://github.com/realthunder/FreeCAD_assembly3/files/9903313/FreeCADSettings.zip)

[2022-10-31 17:14] AlexStankov commented on #1287
I've tried to recompute, but result was the same.

[2022-11-04 11:50] abetis opened #1289 "Can't measure distance between frozen assemblies"
Trying to use measurement tools that involve a frozen assembly part/face will give an error:
Cannot create new element in frozen assembly

[2022-11-05 11:37] abetis commented on #1285
Is there anything I can do to push further that issue?
More tests? Trying something in the code? Add traces?

[2022-11-06 12:13] luzpaz commented on #1289
Missing:
* FreeCAD [About](https://wiki.freecad.org/About) version
* Example file
* Example screenshot

[2022-11-06 16:00] abetis commented on #1289
Sorry, always forget about it. Attaching ZIP with 3 models, a shaft and 2 links to frozen sub-assembly.

OS: Ubuntu 20.04.5 LTS (ubuntu:GNOME/ubuntu)
Word size of FreeCAD: 64-bit
Version: 0.20.1.29410 (Git) AppImage
Build type: Release
Branch: (HEAD detached at 0.20.1)
Hash: f5d13554ecc7a456fb6e970568ae5c74ba727563
Python 3.10.5, Qt 5.15.4, Coin 4.0.0, Vtk 9.1.0, OCC 7.6.2
Locale: English/United S

[2022-11-08 03:32] gotchoices commented on #517
I have this issue in the latest build.

[code]
OS: macOS 10.16
Word size of FreeCAD: 64-bit
Version: 0.21.30868 (Git)
Build type: Release
Branch: master
Hash: b3372a52054fc34c243ac508ce67717b1476f2a9
Python 3.10.6, Qt 5.15.4, Coin 4.0.0, Vtk 9.1.0, OCC 7.6.3
Locale: C/Default (C)
Installed mods:
  * sheetmetal 0.2.58
[/code]

To reproduce:
- Create two separate documents.
- In each one, create a b

[2022-11-08 11:43] luzpaz commented on #1286
Please ask on assembly subforum https://forum.freecadweb.org/viewforum.php?f=20

[2022-11-08 11:48] abetis commented on #1286
Ask what?
I see current behavior as an issue.
If you freeze a sub-assembly after you finish its development, or after adding it in a larger assembly and want to reduce calculations overhead... it's not logical to unfreeze it only for adding another instance to the large assembly.
Especially when you don't intend to do any change in the sub-assembly, all you want to do is add another instance.

[2022-11-08 11:50] abetis commented on #1286
I guess #1289 is related to that issue, since in both cases frozen state prevents normal logical operation, although the frozen sub-assembly is not changed.

[2022-11-08 14:36] luzpaz commented on #517
Can anyone else confirm ? @nadarbreicq etc.. ?

[2022-11-08 14:40] lagnat commented on #517
I've seen that as well

[2022-11-08 20:56] gotchoices commented on #517
Sorry, I was confused about the distinction between the realthunder fork and the mainstream FreeCAD distro.  I downloaded the latest realthunder version and this bug is NOT present--seems to have been fixed (at least in my case).  I will report this in the main FreeCAD repo (where the bug is still present).  Here's the version I have working with the bug apparently solved:

OS: macOS 10.16
Word si

[2022-11-09 02:56] realthunder commented on #1286
The element in the main assembly is linked to its child part. If that part is a sub-assembly, then it is forced to link to an `Element` in the sub-assembly. This is an important concept in assembly3. You can consider the `Elements` of an assembly as its interface in order to abstract its internal parts/sub-assemblies from higher level assembly. So, when you model an assembly, try to think before h

[2022-11-09 06:23] abetis commented on #1286
It's possible for parts that you create by yourself from the ground and prepare those interface points, but not for a pre-manufactured parts with thousands of the interfaces that can be used as an attachment point in the sub-assembly.

I understand the limitation from the design point of view.
Just saying that the user experiance from the user point of view is not good.
Trying to do a measurement

[2022-11-09 18:51] jpg87Fr commented on #1289
I tested the PointsPlaneDistance constraint from the elements you had defined and then the MeasurePointPlane tool and had no problems. It is obvious that these elements must have been defined before freezing your assemblies, otherwise they must be temporarily unfrozen.
![test_distance](https://user-images.githubusercontent.com/80101333/200916145-23a9dbd9-d999-44fe-a9f1-5962e7acee2a.png)

[2022-11-09 18:59] abetis commented on #1289
Using existing elements to measure between them obviously won't need to create new elements and hence there will be no need to unfreeze the sub-assembly.
That will follow the application design concept, but not a good user experience in my opinion.
You can't really know ahead what elements you might need before freezing the sub-assembly.

How do you guys use the measurement tools?
You keep them in

[2022-11-09 20:07] gotchoices commented on #517
Master ticket [Here](https://github.com/FreeCAD/FreeCAD/issues/7745)

[2022-11-09 20:16] jpg87Fr commented on #1289
Of course we can't anticipate everything in a design process, but for certain industrial components, the functional elements are often the same, and for the elements being designed... I don't think we can escape the 'unexpected, so unfreeze the subassembly, modify, and refreeze.

As for the results of the measurement tools, we may need to keep the memory of them for a while, but in general I delet

[2022-11-10 07:34] abetis commented on #1289
I understand the point.
Just saying that it's not a good user-experience.

The freeze functionnality as I see it was meant to help with the performance, maybe we should solve it so there will be no need to freeze sub-assemblies consisting of 2-3 parts...
#1285

[2022-11-10 07:52] jpg87Fr commented on #1289
For me, freezing is not systematic. Only if my system is struggling.

[2022-11-13 15:08] bob-u commented on #1196
What's confusing to me is this:

Do Link branch releases have all Assembly 3 patches?

[2022-11-20 06:51] abetis commented on #1289
Mine is struggling... Especiallly for some round parts, that's the only reason I use freeze and I guess that's the reason why it was added.

[2022-11-27 12:26] ardugitter opened #1290 "Cannot pad from datum plane attached tangent to curved pad"
In this file, Pad003 only appears when the pad is greater than 5mm. I would like it to be 1.75mm. The problem does not present itself in master branch:

![problem](https://user-images.githubusercontent.com/73884126/204135058-ea6dd4c3-d8b9-4f15-a8c6-e7c69312868e.png)

[pad_not_working.FCStd.zip](https://github.com/realthunder/FreeCAD_assembly3/files/10098295/pad_not_working.FCStd.zip)

Thanks a lot

[2022-11-28 11:29] realthunder commented on #1290
It's a common OCC tolerance problem. Your hole in he padding sketch is not exactly the same as the pocket hole. Try to do the pad without hole before pocketing.

[2022-11-28 16:04] ardugitter commented on #1290
That suggestion worked. Thanks a lot.